<div class='row'>
  <div class="col-sm-12">
    <h1>Log Deep Dives</h1>
    <p>
      Deep Dive for Slots <%= link_to '72677728 - 72677739', log_deep_dives_slot_72677728_url %>
    </p>
  </div>
</div>
