---
http_interactions:
- request:
    method: get
    uri: https://geoip.maxmind.com/geoip/v2.1/insights/185.191.127.239
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.maxmind.com-insights+json; charset=UTF-8; version=2.1
    body:
      encoding: UTF-8
      string: '{"city":{"confidence":1,"geoname_id":2759794,"names":{"zh-CN":"阿姆斯特丹","en":"Amsterdam","es":"Ámsterdam","fr":"Amsterdam","ja":"Amusuterudamu","pt-BR":"Amesterdã","ru":"Амстердам"}},"continent":{"code":"EU","geoname_id":6255148,"names":{"ru":"Европа","zh-CN":"欧洲","de":"Europa","en":"Europe","es":"Europa","fr":"Europe","ja":"ヨーロッパ","pt-BR":"Europa"}},"country":{"confidence":99,"is_in_european_union":true,"iso_code":"NL","geoname_id":2750405,"names":{"pt-BR":"Holanda","ru":"Нидерланды","zh-CN":"荷兰","de":"Niederlande","en":"Netherlands","es":"Holanda","fr":"Pays-Bas","ja":"オランダ王国"}},"location":{"accuracy_radius":50,"latitude":52.3759,"longitude":4.8975,"time_zone":"Europe/Amsterdam"},"maxmind":{"queries_remaining":12319},"postal":{"confidence":1,"code":"1012"},"registered_country":{"iso_code":"SC","geoname_id":241170,"names":{"en":"Seychelles","es":"Seychelles","fr":"Seychelles","ja":"セーシェル","pt-BR":"Ilhas
        Seychelles","ru":"Сейшельские о-ва","zh-CN":"塞舌尔","de":"Seychellen"}},"subdivisions":[{"confidence":1,"iso_code":"NH","geoname_id":2749879,"names":{"de":"Nordholland","en":"North
        Holland","es":"Holanda Septentrional","fr":"Hollande-Septentrionale","pt-BR":"Holanda
        do Norte","ru":"Северная Голландия"}}],"traits":{"user_type":"residential","autonomous_system_number":206264,"autonomous_system_organization":"Amarutu
        Technology Ltd","isp":"Amarutu Technology Ltd","organization":"Amarutu Technology
        Ltd","ip_address":"185.191.127.239","network":"185.191.127.224/27"}}'
  recorded_at: Wed, 23 Mar 2022 16:43:34 GMT
recorded_with: VCR 6.0.0
