<h1>Notification about commission change</h1>

<p>
  Validator <%= @validator_title %> changed it's commission.
  Current value: <%= @commission.commission_after.to_i %>%
  Previous value: <%= @commission.commission_before.to_i %>%
</p>

