<% if resource.errors.any? %>
  <div class="form-errors alert alert-danger pb-1">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
