<h2 class="h4">What you gain after creating an account:</h2>
<ul class="list-large list-no-bullets mb-5">
  <li>
    <i class="fas fa-long-arrow-alt-right text-purple me-2" aria-hidden="true"></i> Access to API<br />
    <div class="text-muted ms-4 ps-1">
      Download the list of validators, and more. See <%= link_to 'API documentation', api_documentation_path %>
      for all available options.
    </div>
  </li>
  <li>
    <i class="fas fa-long-arrow-alt-right text-purple me-2" aria-hidden="true"></i> Watchlist
    <div class="text-muted ms-4 ps-1">
      Create your own list of favourite validators for either mainnet, testnet, pythnet or for all of them.
    </div>
  </li>
    <li>
    <i class="fas fa-long-arrow-alt-right text-purple me-2" aria-hidden="true"></i> Notifications
    <div class="text-muted ms-4 ps-1">
      Get notifications about commission changes of your favourite validators.
    </div>
  </li>
  <li>
    <i class="fas fa-long-arrow-alt-right text-purple me-2" aria-hidden="true"></i> More to come soon
  </li>
</ul>
