---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":108306866,"blockHeight":88293518,"epoch":263,"slotIndex":214610,"slotsInEpoch":432000,"transactionCount":60588151757},"id":1}

        '
  recorded_at: Thu, 16 Dec 2021 09:25:11 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getConfirmedBlock","params":[108092256]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"blockHeight":88118492,"blockTime":1639522185,"blockhash":"6giEjcwQ1eLesGB8aWbgb1Rbh4kd6Tr9J6V4e68UzX3a","parentSlot":108092255,"previousBlockhash":"DPESEA1bevmURwGoxuJgHKZ8GcsjBSHxN5ELzbuRQZZj","rewards":[{"commission":100,"lamports":57563054565,"postBalance":115470486483,"pubkey":"BPKJ3VMUpNUVYUrTj5quSkjXqgc8RhSPnjN1wo7Jt9WU","rewardType":"Voting"},{"commission":100,"lamports":371672800292,"postBalance":49271222368217,"pubkey":"93HBbu14KJnHDpsR5hTm72LoKejiQhHjKiopqRZ7AM16","rewardType":"Voting"},{"commission":100,"lamports":367752259966,"postBalance":8317035893538,"pubkey":"DF2NSf5NhijWu6BRF51TV548TqnSGeMjCrXZqb4rdzsi","rewardType":"Voting"},{"commission":100,"lamports":387069993909,"postBalance":183537408259575,"pubkey":"CQ7MSK6158TQwz9tbfRQ1mej2gUk6vfxri5vZG4b2Ywy","rewardType":"Voting"},{"commission":100,"lamports":76568328111[...]
[...]
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getConfirmedBlock","params":[108092255]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"blockHeight":88118491,"blockTime":1639522185,"blockhash":"DPESEA1bevmURwGoxuJgHKZ8GcsjBSHxN5ELzbuRQZZj","parentSlot":108092254,"previousBlockhash":"DrLvjTignt3gyzrwjzNAGBbPXvAFGCuQnTqpaEa9aZzm","rewards":[{"commission":null,"lamports":2130000,"postBalance":434778512848,"pubkey":"GZeAno1q7JYL493V8aED6XQzqNPjJRZMq84jtKdLhWNB","rewardType":"Fee"}],"transactions":[{"meta":{"err":{"InstructionError":[0,{"Custom":0}]},"fee":5000,"innerInstructions":[],"logMessages":["Program
        Vote111111111111111111111111111111111111111 invoke [1]","Program Vote111111111111111111111111111111111111111
        failed: custom program error: 0x0"],"postBalances":[98372034065,26858640,143487360,1169280,1],"postTokenBalances":[],"preBalances":[98372039065,26858640,143487360,1169280,1],"preTokenBalances":[],"rewards":[],"status":{"Err":{"InstructionError":[0,{"Custom":0}]}}},"transaction":{"message":{"accountKeys":["5of3H6ikRzFtU3pxa4kSWj3hCPbf9LCyprJ1Ef4EZAGH","ZXQWxJethnbq3eCtFryBTQad9CRoEwNDrwBDEazF9SB","SysvarS1otHashes111111111111111111111111111","SysvarC1ock11111111111111111111111111111111","Vote111111111111111111111111111111111111111"],"header":{"numReadonlySignedAccounts":0,"numReadonlyUnsignedAccounts":3,"numRequiredSignatures":1},"instructions":[{"accounts":[1,2,3,0],"data":"29z5mr1JoRmJYQ6yyLJqowtxWo5Gh4QadKqPyJEdH72CMYXxmX6RxBKEqLL69HLrksxKWYx42xFn8Umseho2CqZ6tD8Jxo","programIdIndex":4}],"recentBlockhash":"BoHyGyD5pgzRX6WGnKS6PgAziX4bdHDAR6yLNadxBaX"},"signatures":["MzXPmqUrHKt6LBj7FHerseUgPNyyT6ywjDtGcqoiDRjDi48JNLjyWt6WUJtjKr1Kgec4aMXPgWhRQbgChg9m6vD"]}},{"meta":{"err":{"InstructionError":[0,{"Custom":0}]},"fee":5000,"innerInstructions":[],"logMessages":["Program
        Vote111111111111111111111111111111111111111 invoke [1]","Program Vote111111111111111111111111111111111111111
        failed: custom program error: 0x0"],"postBalances":[420192812296,21336442076423,143487360,1169280,1],"postTokenBalances":[],"preBalances":[420192817296,21336442076423,143[...]
