---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":46495,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '49'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":142212129,"blockHeight":115750062,"epoch":341,"slotIndex":423873,"slotsInEpoch":432000,"transactionCount":124099751842},"id":46495}

        '
  recorded_at: Fri, 22 Jul 2022 10:43:29 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":43063,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '28'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '48'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":142212129,"blockHeight":115750062,"epoch":341,"slotIndex":423873,"slotsInEpoch":432000,"transactionCount":124099751842},"id":43063}

        '
  recorded_at: Fri, 22 Jul 2022 10:43:30 GMT
recorded_with: VCR 6.0.0
