---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":80917511,"blockHeight":67050064,"epoch":200,"slotIndex":41255,"slotsInEpoch":432000,"transactionCount":24903750606},"id":1}

        '
  recorded_at: Mon, 14 Jun 2021 09:59:18 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getBlockTime","params":[80876256]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":1623360912,"id":1}

        '
  recorded_at: Mon, 14 Jun 2021 09:59:18 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getConfirmedBlock","params":[80876256]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"blockHeight":67019694,"blockTime":1623360912,"blockhash":"5PBrwCKSCJXLyYp14zysRiDWzX7t2wxHWc2X95Mu12sX","parentSlot":80876255,"previousBlockhash":"5HzB5wWPbUZBuEqCB9dWi9UkY9JN9XiVZ9kJkRaqk2BG","rewards":[{"lamports":657407513081,"postBalance":12426284844951,"pubkey":"DmWD9k2ky7UA65nf7gzBgLsGo7NMzoHJ8PY8Qiph7v6V","rewardType":"Voting"},{"lamports":25722551855,"postBalance":2133175228544,"pubkey":"82uzesTiLiqExr7fvvFmSV7iyXPbmUjq3LePNXiz7Zga","rewardType":"Staking"},{"lamports":564744964298,"postBalance":46834344506086,"pubkey":"DbCV5UNQpdprkhdUtTWgN6AyvqTHa3QUsm17Mm5H6W3X","rewardType":"Staking"},{"lamports":65607501794,"postBalance":234041179516,"pubkey":"5MyD2gR68TdnM3tesuQd8s6bMZRvckv2kkj3CC8ZWzMY","rewardType":"Voting"},{"lamports":658797051731,"postBalance":27900493379921,"pubkey":"4GCWf9fw4Ecx7yo1CyAWU4W7uYu4qq[...]
[...]
