---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":36920,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '49'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":142212733,"blockHeight":115750413,"epoch":341,"slotIndex":424477,"slotsInEpoch":432000,"transactionCount":124100386324},"id":36920}

        '
  recorded_at: Fri, 22 Jul 2022 10:51:42 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":53353,"method":"getBlock","params":[141788256,{"rewards":true}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Method-Limit:
      - '30'
      X-Ratelimit-Method-Remaining:
      - '29'
      X-Ratelimit-Rps-Limit:
      - '50'
      X-Ratelimit-Rps-Remaining:
      - '48'
      X-Ratelimit-Conn-Limit:
      - '30'
      X-Ratelimit-Conn-Remaining:
      - '29'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '29'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"blockHeight":115525216,"blockTime":1658220836,"blockhash":"XxfiixPtdkkCCed1vnGnyTKEGGsskkPQ1nBwRzgyuZu","parentSlot":141788255,"previousBlockhash":"2FMzSVeFq9sVpeeNrHX2qQXRXncP44eEQT5kTKbmVDa1","rewards":[{"commission":5,"lamports":227993411935,"postBalance":14459246951625,"pubkey":"69rUCD1qk6hJ3AqEkCi236QaceHTBSv1isiCEW6EZnVa","rewardType":"Voting"},{"commission":100,"lamports":261029075903,"postBalance":22714876012068,"pubkey":"D121S2BsnHRnEhvF4hjB6nhSERJBZm7XqVrKwTVKatni","rewardType":"Voting"},{"commission":10,"lamports":28298481612,"postBalance":2346584096897,"pubkey":"8Zy1X7hb9empKcLUus8zVidiitjktiaFs46VrAZTRooo","rewardType":"Voting"},{"commission":100,"lamports":255665908928,"postBalance":88724172057773,"pubkey":"DTBHKtuBDqjMEWZWer7oiZGq79oEF6NKsbMnYGQdavpJ","rewardType":"Voting"},{"commission":100,"lamports":263059407307,"[...]
