<section class="page-header">
  <h1>Your Request Has Been Saved</h1>
  <h4 class="word-break">Thank you for your message. A member of our Team will be contacting you soon.</h4>
</section>
<div>~ Validators.app Team</div>
