<section class="page-header">
  <h1>Your Request Has Been Received</h1>
  <div class="lead">If you have questions, please contact us during regular business hours; Monday - Friday 8 AM - 5 PM Mountain Time.</div>
</section>
<div>~ Validators.app Team</div>
