[Unit]
Description=Solana Ping Time Collector
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=[YOUR SOLANA USER]
Environment="VALIDATORS_API_TOKEN=[YOUR API TOKEN]"
ExecStart=/usr/bin/ruby \
  /PATH/TO/collect_ping_times_loop.rb >> /PATH/TO/ping_times.log

[Install]
WantedBy=multi-user.target
