---
http_interactions:
- request:
    method: post
    uri: https://api.rpcpool.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":72560,"method":"getSlot"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rpc-Node:
      - lb-ams2
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":158538024,"id":72560}

        '
  recorded_at: Mon, 31 Oct 2022 21:30:27 GMT
- request:
    method: post
    uri: https://api.rpcpool.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":72560,"method":"getSlotLeaders","params":[158538024,12]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rpc-Node:
      - lb-ams2
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["3afBZYTabgqgrGd2HuvqPLC62VpZBpjVMhEHjauZpk7s","3afBZYTabgqgrGd2HuvqPLC62VpZBpjVMhEHjauZpk7s","3afBZYTabgqgrGd2HuvqPLC62VpZBpjVMhEHjauZpk7s","3afBZYTabgqgrGd2HuvqPLC62VpZBpjVMhEHjauZpk7s","B5GABybkqGaxxFE6bcN6TEejDF2tuz6yREciLhvvKyMp","B5GABybkqGaxxFE6bcN6TEejDF2tuz6yREciLhvvKyMp","B5GABybkqGaxxFE6bcN6TEejDF2tuz6yREciLhvvKyMp","B5GABybkqGaxxFE6bcN6TEejDF2tuz6yREciLhvvKyMp","5UUWU7TjkXEg5i8ddXtiuF98QoT7gvHNuJ6K2rVedXnr","5UUWU7TjkXEg5i8ddXtiuF98QoT7gvHNuJ6K2rVedXnr","5UUWU7TjkXEg5i8ddXtiuF98QoT7gvHNuJ6K2rVedXnr","5UUWU7TjkXEg5i8ddXtiuF98QoT7gvHNuJ6K2rVedXnr"],"id":72560}

        '
  recorded_at: Mon, 31 Oct 2022 21:30:28 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":50138,"method":"getSlot"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":160623862,"id":50138}

        '
  recorded_at: Mon, 31 Oct 2022 21:30:44 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":50138,"method":"getSlotLeaders","params":[160623862,12]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":["9MRUTN19MtA1matBH4ddgpS14mPAdeCoFnsLkaLxFeBQ","9MRUTN19MtA1matBH4ddgpS14mPAdeCoFnsLkaLxFeBQ","9MRUTN19MtA1matBH4ddgpS14mPAdeCoFnsLkaLxFeBQ","9MRUTN19MtA1matBH4ddgpS14mPAdeCoFnsLkaLxFeBQ","ACPgwKgncgFAm8goFj4dJ5e5mcH3tRy646f7zYPaWEzc","ACPgwKgncgFAm8goFj4dJ5e5mcH3tRy646f7zYPaWEzc","ACPgwKgncgFAm8goFj4dJ5e5mcH3tRy646f7zYPaWEzc","ACPgwKgncgFAm8goFj4dJ5e5mcH3tRy646f7zYPaWEzc","FbWq9mwUQRNVCAUdcECF5yhdwABmcnsZ6a6zpixeKuQE"],"id":50138}

        '
  recorded_at: Mon, 31 Oct 2022 21:30:44 GMT
recorded_with: VCR 6.0.0
