<div class="card">
  <div class="card-content">
    <h3 class="card-heading">Skipped Slot&nbsp;&percnt;</h3>
    <div class="row px-3 px-xl-5 mb-md-2">
      <div class="stat col-5 my-auto">
        <small class="text-muted">Median:</small>
        <div class="h5 text-success">
          <%= number_to_percentage @stats[:skipped_slots][:median].to_f * 100, precision: 1 %>
        </div>
        <small class="text-muted">Average:</small>
        <div class="h5 text-success">
          <%= number_to_percentage @stats[:skipped_slots][:average].to_f * 100, precision: 1 %>
        </div>
      </div>
      <div class="stat col-7 my-auto px-0">
        <div class="text-muted">
          <i class="fas fa-long-arrow-alt-down text-success"></i>Min &ndash;
          <i class="fas fa-long-arrow-alt-up text-success"></i>Max:
        </div>
        <h2 class="stat-title-2 text-success mt-2">
          <% skipped_slots_min = @stats[:skipped_slots][:min].to_f * 100%>
          <%= skipped_slots_min > 0 ? skipped_slots_min : 0 %>
          &ndash; 
          <%= @stats[:skipped_slots][:max].to_f * 100 %>
        </h2>
      </div>
    </div>
  </div>
</div>
