<div class="card">
  <div class="card-content">
    <h3 class="card-heading">Skipped Vote&nbsp;&percnt;</h3>
    <div class="row px-3 px-xl-5 mb-md-2">
      <div class="stat col-5">
        <small class="text-muted">Median:</small>
        <div class="h5 text-success">
          <%= number_to_percentage @stats[:skipped_votes_percent][:median].to_f*100, precision: 1 %>
        </div>
        <small class="text-muted">Average:</small>
        <div class="h5 text-success">
          <%= number_to_percentage @stats[:skipped_votes_percent][:average].to_f*100, precision: 1 %>
        </div>
      </div>
      <div class="stat col-7 my-auto px-0">
        <div class="text-muted"><i class="fas fa-trophy text-success"></i>Best:</div>
        <div class="stat-title-1 text-success">
          <%= number_to_percentage @stats[:skipped_votes_percent][:best].to_f*100, precision: 2 %>
        </div>
      </div>
    </div>
  </div>
</div>
