<h1 class="page-header"><%= params[:network].capitalize %> Stats</h1>

<% unless @stats.empty? %>
  <% @stats.each do |key, value| %>
    <strong><%= key %></strong><br />
    <%= value %><br /><br />
  <% end %>
<% end %>


<% unless @stats.empty? %>
  <div class="row">
    <%= render 'validators/software_versions', software_versions: @stats[:software_versions] %>
    <%#= render 'validators/stats' %>
  </div>
<% end %>