[Unit]
[Unit]
Description=Gather RPC Data Mainnet
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/deploy/validators.app/current/

ExecStart=/usr/bin/bundle exec /usr/bin/ruby daemons/gather_rpc_mainnet_daemon.rb

UMask=0002

# Greatly reduce Ruby memory fragmentation and heap usage
# https://www.mikeperham.com/2018/04/25/taming-rails-memory-bloat/
# Environment=MALLOC_ARENA_MAX=2
# Environment=LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.1

Environment=RAILS_ENV=production

# if we crash, restart
RestartSec=10
Restart=always

# output goes to log/daemons/gather_rpc_mainnet.log
StandardOutput=append:log/daemons/gather_rpc_mainnet.log
StandardError=append:log/daemons/gather_rpc_mainnet.log

# Limits
LimitNOFILE=infinity
LimitMEMLOCK=infinity

# This will default to "bundler" if we don't specify it
SyslogIdentifier=gather_rpc_mainnet_daemon

[Install]
WantedBy=default.target
