---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/simple/price?ids=solana&include_24hr_change=true&include_24hr_vol=true&vs_currencies=usd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"18db9788edb9db76188862ae3c5d8651"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '{"solana":{"usd":14.53,"usd_24h_vol":1160562245.3673658,"usd_24h_change":6.3289427662734985}}'
  recorded_at: Mon, 14 Nov 2022 09:41:35 GMT
recorded_with: VCR 6.0.0
