---
http_interactions:
- request:
    method: post
    uri: https://api.rpcpool.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":23980,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":108648417,"blockHeight":97845758,"epoch":251,"slotIndex":216417,"slotsInEpoch":432000,"transactionCount":41491362286},"id":23980}

        '
  recorded_at: Thu, 25 Nov 2021 14:21:22 GMT
recorded_with: VCR 6.0.0
