---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":82776612,"blockHeight":68369313,"epoch":204,"slotIndex":172356,"slotsInEpoch":432000,"transactionCount":26341626438},"id":1}

        '
  recorded_at: Mon, 28 Jun 2021 13:34:25 GMT
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":82776613,"blockHeight":68369314,"epoch":205,"slotIndex":172357,"slotsInEpoch":432000,"transactionCount":26341626712},"id":1}

        '
  recorded_at: Mon, 28 Jun 2021 13:34:32 GMT
recorded_with: VCR 6.0.0
