---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":77309098,"blockHeight":64137252,"epoch":191,"slotIndex":320842,"slotsInEpoch":432000,"transactionCount":21736636050},"id":1}

        '
  recorded_at: Mon, 17 May 2021 07:45:33 GMT
recorded_with: VCR 6.0.0
