---
http_interactions:
- request:
    method: post
    uri: http://testnet.solana.com:8899/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":67025411,"blockHeight":55010520,"epoch":167,"slotIndex":405155,"slotsInEpoch":432000,"transactionCount":13812023674},"id":1}

        '
  recorded_at: Tue, 09 Mar 2021 03:29:53 GMT
recorded_with: VCR 6.0.0
