---
http_interactions:
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":73793,"method":"getInflationReward","params":[["*"]]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rpc-Node:
      - ams65
      X-Ratelimit-Tier:
      - free
      X-Ratelimit-Method-Limit:
      - '5'
      X-Ratelimit-Method-Remaining:
      - '4'
      X-Ratelimit-Rps-Limit:
      - '100'
      X-Ratelimit-Rps-Remaining:
      - '99'
      X-Ratelimit-Conn-Limit:
      - '40'
      X-Ratelimit-Conn-Remaining:
      - '39'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '39'
      X-Ratelimit-Pubsub-Limit:
      - '5'
      X-Ratelimit-Pubsub-Remaining:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"amount":4522,"commission":99,"effectiveSlot":171936000,"epoch":397,"postBalance":3282973}],"id":73793}

'
  recorded_at: Wed, 11 Jan 2023 17:03:00 GMT
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":65065,"method":"getInflationReward","params":[["3kdVFEQ5aXcTZ5K9A1LwqybT46h2GwhmVsLYwCeb4rbE"]]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rpc-Node:
      - ams65
      X-Ratelimit-Tier:
      - free
      X-Ratelimit-Method-Limit:
      - '5'
      X-Ratelimit-Method-Remaining:
      - '3'
      X-Ratelimit-Rps-Limit:
      - '100'
      X-Ratelimit-Rps-Remaining:
      - '98'
      X-Ratelimit-Conn-Limit:
      - '40'
      X-Ratelimit-Conn-Remaining:
      - '39'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '39'
      X-Ratelimit-Pubsub-Limit:
      - '5'
      X-Ratelimit-Pubsub-Remaining:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"amount":6126,"commission":99,"effectiveSlot":171936000,"epoch":398,"postBalance":3282973}],"id":65065}

'
  recorded_at: Wed, 11 Jan 2023 17:03:01 GMT
recorded_with: VCR 6.0.0
