---
http_interactions:
- request:
    method: get
    uri: https://explorer.bam.dev/api/v1/ibrl_validators
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 23 Jan 2026 09:36:51 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"identity":"kREnNfJrPEHbrjSQDxmxZdGmN6hi7ewXZ3UZTURshrk","build_time_score":100.0,"vote_packing_score":99.9287,"non_vote_packing_score":98.6175,"ibrl_score":99.3672,"client":0,"scheduler_profile":0,"epoch_trend":1.4937,"blocks_produced":8},{"identity":"DupN8puwoPdFo9EYm8AXemEn9cMsore1QmZzfPaxyUG4","build_time_score":99.95,"vote_packing_score":100.0,"non_vote_packing_score":97.97,"ibrl_score":99.0665,"client":0,"scheduler_profile":0,"epoch_trend":0.0123,"blocks_produced":20},{"identity":"mds1WWedpezW3qvgML4WgP341jZksYAy5SbMLwjP5KC","build_time_score":100.0,"vote_packing_score":99.5183,"non_vote_packing_score":97.8922,"ibrl_score":98.9793,"client":0,"scheduler_profile":0,"epoch_trend":0.258,"blocks_produced":36},{"identity":"CVgw[...]
