---
http_interactions:
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":64981,"method":"getClusterNodes"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"featureSet":1824749018,"gossip":"5.62.126.214:8001","pubkey":"HAr8DKaUeJ26m1yAPLBE6jBdUgcRH3yAFba71nGzHg2m","rpc":null,"shredVersion":8573,"tpu":"5.62.126.214:8004","version":"1.7.14"},{"featureSet":1824749018,"gossip":"51.222.108.54:8001","pubkey":"Fudp7uPDYNYQRxoq1Q4JiwJnzyxhVz37bGqRki3PBzS","rpc":null,"shredVersion":8573,"tpu":"51.222.108.54:8004","version":"1.7.14"},{"featureSet":1824749018,"gossip":"184.105.146.34:8000","pubkey":"Ninja1spj6n9t5hVYgF3PdnYz2PLnkt7rvaw3firmjs","rpc":"184.105.146.34:8899","shredVersion":8573,"tpu":"184.105.146.34:8003","version":"1.7.14"},{"featureSet":1824749018,"gossip":"5.83.175.126:9000","pubkey":"MCFmmmXdzTKjBEoMggi8JGFJmd856uY[...]
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":36701,"method":"getProgramAccounts","params":["Config1111111111111111111111111111111111111",{"encoding":"jsonParsed","withContext":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJqc29ucnBjIjoiMi4wIiwicmVzdWx0IjpbeyJhY2NvdW50Ijp7ImRhdGEiOnsicGFyc2VkIjp7ImluZm8iOnsiY29uZmlnRGF0YSI6eyJkZXRhaWxzIjoiMTciLCJrZXliYXNlVXNlcm5hbWUiOiJpdXJpaSIsIm5hbWUiOiJpdXJpaSJ9LCJrZXlzIjpbeyJwdWJrZXkiOiJWYTFpZGF0b3IxbmZvMTExMTE[...]
