---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":77317795,"blockHeight":64144842,"epoch":191,"slotIndex":329539,"slotsInEpoch":432000,"transactionCount":21745053566},"id":1}

        '
  recorded_at: Mon, 17 May 2021 09:18:34 GMT
recorded_with: VCR 6.0.0
