---
http_interactions:
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":87298680,"blockHeight":78314277,"epoch":202,"slotIndex":34680,"slotsInEpoch":432000,"transactionCount":21402848202},"id":1}

        '
  recorded_at: Fri, 16 Jul 2021 13:20:13 GMT
recorded_with: VCR 6.0.0
