---
http_interactions:
- request:
    method: post
    uri: https://api.testnet.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":61232,"method":"getInflationReward","params":[["stake_pubkey","stake_pubkey"]]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","error":{"code":-32602,"message":"Invalid param: Invalid"},"id":61232}

        '
  recorded_at: Tue, 18 Jan 2022 07:38:10 GMT
recorded_with: VCR 6.0.0
