---
http_interactions:
- request:
    method: get
    uri: https://kobe.mainnet.jito.network/api/v1/validators
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"validators":[{"vote_account":"E3yhPs5PPN4RZh8FbJo2eqtdrAYKCK9H7pcSD1vCNCP4","mev_commission_bps":800,"running_jito":true},{"vote_account":"P4f3F3VfMhKvpGQXg2MuvLfWmZui41gvcH9XKtYDiFX","mev_commission_bps":800,"running_jito":true},{"vote_account":"39xF5qkfK5HBaG4Hkq6bjumUB2k4B5ozEAmfZoobhUVw","mev_commission_bps":800,"running_jito":true},{"vote_account":"J1to2NAwajc8hD6E6kujdQiPn1Bbt2mGKKZLY9kSQKdB","mev_commission_bps":800,"running_jito":true},{"vote_account":"EKUh585fWD7LeDRHgmYd9EXpQnY6KNbNAhyBi3FuVw6Y","mev_commission_bps":800,"running_jito":true},{"vote_account":"6hZL2FZim27WkQccMfygvvXH2eow5u3wR6XUJHbMoe[...]
