---
http_interactions:
- request:
    method: post
    uri: http://testnet.solana.com:8899/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":21360661,"epoch":62,"slotIndex":100405,"slotsInEpoch":432000},"id":1}

        '
  recorded_at: Thu, 02 Jul 2020 22:31:43 GMT
- request:
    method: post
    uri: http://165.227.100.142:8899/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"method":"getEpochInfo"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","result":{"absoluteSlot":21495263,"epoch":62,"slotIndex":235007,"slotsInEpoch":432000},"id":1}

        '
  recorded_at: Tue, 07 Jul 2020 13:30:20 GMT
recorded_with: VCR 6.0.0
