---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets/SOL/USD/candles?end_time=1631059199&resolution=3600&start_time=1630972800
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ftx-Key:
      - AUk9zEtHT7Jan9XINgEBpMOzp-XP7F28qExTYYj1
      Ftx-Sign:
      - cdf6b40a845c5e0f1809ba35d8f8dcdef475c41868db4eb4b39fc7fc1c7f8877
      Ftx-Ts:
      - '1631112550000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cd00240e933295c3293c9eaa6f9c5a57"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":[{"startTime":"2021-09-07T00:00:00+00:00","time":1630972800000.0,"open":164.26,"high":169.575,"low":162.24,"close":169.525,"volume":19878244.3065},{"startTime":"2021-09-07T01:00:00+00:00","time":1630976400000.0,"open":169.525,"high":174.0,"low":168.0,"close":170.9325,"volume":34072041.008475},{"startTime":"2021-09-07T02:00:00+00:00","time":1630980000000.0,"open":170.9325,"high":175.4025,"low":170.8175,"close":173.7,"volume":18042517.0199},{"startTime":"2021-09-07T03:00:00+00:00","time":1630983600000.0,"open":173.7,"high":174.595,"low":171.2875,"close":173.4475,"volume":11224853.018425},{"startTime":"2021-09-07T04:00:00+00:00[...]
