<div class="card mb-4">
  <div class="card-content pb-0">
    <h2 class="h2 card-heading">Stake Accounts</h2>
    <%= render "stake_accounts/explorer_stake_accounts_filter"%>
    <%= render "stake_accounts/explorer_stake_accounts"%>
  </div>
</div>
