---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets/SOL/USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ftx-Key:
      - "<TOKEN>"
      Ftx-Sign:
      - '09ab2f6f3bf894f1d92e9b3f718f8a29224cc0d1b611e36cd79b91f33fb3429e'
      Ftx-Ts:
      - '1649176098000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0bfc3c5916ad0ac092f84ec01888eadd"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":{"name":"SOL/USD","enabled":true,"postOnly":false,"priceIncrement":0.0025,"sizeIncrement":0.01,"minProvideSize":0.01,"last":132.9325,"bid":132.89,"ask":132.925,"price":132.925,"type":"spot","baseCurrency":"SOL","quoteCurrency":"USD","underlying":null,"restricted":false,"highLeverageFeeExempt":true,"largeOrderThreshold":5000.0,"change1h":0.022028294633246195,"change24h":0.023306838083873824,"changeBod":0.0040410907168215125,"quoteVolume24h":111773446.3951,"volumeUsd24h":111773446.3951,"priceHigh24h":136.625,"priceLow24h":125.86}}

        '
  recorded_at: Tue, 05 Apr 2022 16:28:19 GMT
recorded_with: VCR 6.0.0
