---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets/SOL/USD/candles?resolution=86400&start_time=1630972800
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ftx-Key:
      - "<TOKEN>"
      Ftx-Sign:
      - 76e50ccaa9906ddc26dbe48a9610fd14314ba6c7ff226b0db4bb452d4875c193
      Ftx-Ts:
      - '1649176116000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2faa151d990e783d5c215905e18ab68e"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":[{"startTime":"2021-09-07T00:00:00+00:00","time":1630972800000.0,"open":164.26,"high":195.0,"low":124.15,"close":173.515,"volume":744961809.184675},{"startTime":"2021-09-08T00:00:00+00:00","time":1631059200000.0,"open":173.515,"high":198.2125,"low":146.6825,"close":190.9625,"volume":571066472.04745},{"startTime":"2021-09-09T00:00:00+00:00","time":1631145600000.0,"open":190.9625,"high":216.0,"low":177.85,"close":187.7125,"volume":624323742.34275},{"startTime":"2021-09-10T00:00:00+00:00","time":1631232000000.0,"open":187.7125,"high":197.3675,"low":168.0,"close":179.5175,"volume":368318123.63875},{"startTime":"2021-09-11T00:0[...]
