---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ftx-Key:
      - "<TOKEN>"
      Ftx-Sign:
      - 0e7a2268478cff32b3ac9f6590a4c2b4f0e20e62e0cdf7df6492017aa3cc64a2
      Ftx-Ts:
      - '1649176115000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b1e3a319250431e2f01a112b11d2a8a6"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":[{"name":"1INCH-PERP","enabled":true,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"minProvideSize":1.0,"last":1.863,"bid":1.8634,"ask":1.8641,"price":1.8634,"type":"future","baseCurrency":null,"quoteCurrency":null,"underlying":"1INCH","restricted":false,"highLeverageFeeExempt":false,"largeOrderThreshold":500.0,"change1h":0.0036626090703436387,"change24h":0.002205130963265745,"changeBod":-0.020706327517342863,"quoteVolume24h":15183794.3181,"volumeUsd24h":15183794.3181,"priceHigh24h":1.9347,"priceLow24h":1.8013},{"name":"1INCH-0624","enabled":true,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"minProvideSize":1.0,"last":1.8207,"bid":1.8236,"ask":1.8262,"price":1.8236,"type":"future","baseCurrency":null,"quoteCurrency":null,"underlying":"1INCH","restricted":false,"highLeverageFeeExempt":false,"largeOrderThreshold":500.0,"change1h":0.004129728539177358,"change24h":0.002583979328165375,"changeBod":-0.020202020202020204,"quoteVolume24h":172467.9581,"volumeUsd24h":172467.9581,"priceHigh24h":1.8914,"priceLow24h":1.7625},{"name":"1INCH/USD","enabled":true,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"minProvideSize":1.0,"last":1.8599,"bid":1.8632,"ask":1.8646,"price":1.8632,"type":"spot","baseCurrency":"1INCH","quoteCurrency":"USD","underlying":null,"restricted":false,"highLeverageFeeExempt":true,"largeOrderThreshold":500.0,"change1h":0.002852683136874966,"change24h":0.0014512227895726955,"changeBod":-0.020759972670415724,"quoteVolume24h":1194911.9455,"volumeUsd24h":1194911.9455,"priceHigh24h":1.934,"priceLow24h":1.8028},{"name":"AAPL-0624","enabled":true,"postOnly":false,"priceIncrement":0.01,"sizeIncrement":0.01,"minProvideSize":0.01,"last":175.68,"bid":175.58,"ask":175.99,"price":175.68,"type":"future","baseCurrency":null,"quoteCurrency":null,"underlying":"AAPL","restricted":true,"tokenizedEquity":true,"highLeverageFeeExempt":false,"largeOrderThreshold":500.0,"change1h":-0.005885015844273427,"change24h":-0.012589928057553957,"changeBod":-0.015743178889573644,"quoteVolume24h":97461.7942,"volumeUsd24h":97461.7942,"priceHigh24h":179.07,"priceLow24h":175.66},{"name":"AAPL/USD","enabled":true,"postOnly":false,"priceIncrement":0.01,"sizeIncrement":0.01,"minProvideSize":0.01,"last":175.51,"bid":175.48,"ask":175.59,"price":175.51,"type":"spot","baseCurrency":"AAPL","quoteCurrency":"USD","underlyi[...]
