# Copy this example file to config/cluster.yml for development & testing.
---
mainnet_urls:
  - "https://api.rpcpool.com"
  - "https://api.mainnet-beta.solana.com"
testnet_urls:
  - "https://api.testnet.solana.com"
pythnet_urls:
  - "https://test.com"
rpc_port: 8899

# Both of these need to be x.y.z
software_patch_mainnet: "1.6.7"
software_patch_testnet: "1.6.7"
software_patch_pythnet: "1.6.7"
