<%= javascript_pack_tag 'stake_accounts/index' %>

<section class="page-header">
  <h1>Stake Pools</h1>
  <p class="lead">
    Stake Pools are programs that receive SOL tokens from stakeholders and delegate stake across multiple validators.
    In return, the stakeholder gets stake pool tokens representing their pool share. Stake pool tokens are liquid --
    the stakeholder can swap them without a cool-down waiting period. Here we've gathered some stats to make it easier
    to decide which stake pool to choose.
  </p>
</section>

<div id='stake-accounts-index-vue' network=<%= params[:network] %>></div>
