<%= javascript_pack_tag 'stake_accounts/index' %>

<h1>Stake Pools</h1>

<p class="lead mb-5">
  Stake Pools are programs that receive SOL tokens from investors and delegate stake across multiple validators. In return, the investor gets stake pool tokens representing their pool share. Stake pool tokens are liquid -- the investor can swap them without a cool-down waiting period. Here we've gathered some stats to make it easier to decide which stake pool to choose.
</p>

<div
  id='stake-accounts-index-vue'
  network=<%= params[:network] %>
>
