<%= javascript_pack_tag 'stake_accounts/index' %>

<h1>Stake Pools</h1>

<p class="lead mb-5">
  Stake Pools are the entities that gather stake from users and spread it among multiple validators.
  This way user does not have to worry about managing his/her sols and there's more diversity in stake delegation
  which is safer for the network. Here we've gathered some stats to make it easier to decide what stake pool to choose.
</p>

<div
  id='stake-accounts-index-vue'
  network=<%= params[:network] %>
>
