---
http_interactions:
- request:
    method: get
    uri: https://geoip.maxmind.com/geoip/v2.1/insights/141.94.248.167
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.maxmind.com-insights+json; charset=UTF-8; version=2.1
    body:
      encoding: UTF-8
      string: '{"continent":{"code":"EU","geoname_id":6255148,"names":{"fr":"Europe","ja":"ヨーロッパ","pt-BR":"Europa","ru":"Европа","zh-CN":"欧洲","de":"Europa","en":"Europe","es":"Europa"}},"country":{"confidence":99,"is_in_european_union":true,"iso_code":"FR","geoname_id":3017382,"names":{"ja":"フランス共和国","pt-BR":"França","ru":"Франция","zh-CN":"法国","de":"Frankreich","en":"France","es":"Francia","fr":"France"}},"location":{"accuracy_radius":500,"latitude":48.8582,"longitude":2.3387,"time_zone":"Europe/Paris"},"maxmind":{"queries_remaining":1399},"registered_country":{"is_in_european_union":true,"iso_code":"FR","geoname_id":3017382,"names":{"de":"Frankreich","en":"France","es":"Francia","fr":"France","ja":"フランス共和国","pt-BR":"França","ru":"Франция","zh-CN":"法国"}},"traits":{"is_anonymous":true,"is_hosting_provider":true,"user_type":"hosting","autonomous_system_number":16276,"autonomous_system_organization":"OVH
        SAS","domain":"ip-141-94-248.eu","isp":"OVH SAS","organization":"OVH SAS","ip_address":"141.94.248.167","network":"141.94.248.0/24"}}'
  recorded_at: Wed, 19 Oct 2022 10:12:41 GMT
recorded_with: VCR 6.0.0
