<div class="btn-group btn-group-xs btn-group-toggle">
  <%= create_filter_by_link(view: view, params_list: params, current_filters: @filter_by, filter_by: "active") %>
  <%= create_filter_by_link(view: view, params_list: params, current_filters: @filter_by, filter_by: "delinquent") %>
  <% if params[:network] == "mainnet" %>
    <%= create_filter_by_link(view: view, params_list: params, current_filters: @filter_by, filter_by: "private") %>
  <% end %>
</div>
