@import "variables";

.alert {
  border-radius: $border-radius;
  margin-bottom: $margin-standard*2;
  padding: 10px $padding-standard;
  color: $base-color;

  a {
    color: lighten($link-color, 10%);
  }

  .btn-close {
    color: $base-color;
    opacity: 0.9;
    text-shadow: none;
    filter: invert(1);
    padding: 14px 20px;
    @media(max-width: $screen-sm-max) {
      padding: 14px 18px;
    }
  }
  .float-end {
    padding-top: 1px;
    color: $base-color;
    &:hover { text-decoration: none }
  }

  &.alert-info, &.alert-secondary, &.alert-primary {
    background-color: $grey-transparent;
    border: 1px solid $grey;
  }

  &.alert-success {
    background-color: $green-transparent;
    border: 1px solid $green;
    word-break: break-word;
  }

  &.alert-warning {
    background-color: $orange-transparent;
    border: 1px solid $orange;
  }

  &.alert-danger {
    background-color: $red-transparent;
    border: 1px solid $red;
  }
}
