/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "@fortawesome/fontawesome-free/css/all.css";
@import "bootstrap-vue/dist/bootstrap-vue.css";
@import "variables";
@import "typography";
@import "buttons";
@import "images";
@import "header";
@import "footer";
@import "cards";
@import "tabs";
@import "lists";
@import "tables";
@import "forms";
@import "scores";
@import "pagination";
@import "alerts";
@import "carousels";
@import "map";
@import "modals";
@import "data_center_map";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  @include font-size-base;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  @include font-family-base;
  color: $base-color;
  @include font-size-base;
  background-color: transparent;

  &.modal-open {
    padding-right: 0 !important;
  }
}

.background-color {
  position: fixed;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom left, $background-color,$background-color,$background-color,$background-color,$background-color,$background-color-secondary,$background-color-tertiary,$background-color);
}
.background-image {
  position: fixed;
  z-index: -1;
  width: 96vw;
  height: 100vh;
  right: 0;
  top: 0;
  background: url(asset_path("background.svg")) no-repeat top right;
  background-size: contain;
  @media(max-width: $screen-md-max) {
    width: 130vw;
  }
  @media(max-width: $screen-sm-max) {
    width: 200vw;
  }
}

.banner {
  padding-bottom: 25px;
  @media(max-width: $screen-sm-max) {
    padding-bottom: 25px;
    padding-top: 0;
  }
  .heading-primary {
    margin: 0 0 30px 0;
    @media(max-width: $screen-md-max) {
      margin-right: 0;
    }
  }
  span {
    text-decoration: underline;
    text-decoration-color: $green;
  }
  .exclamation {
    letter-spacing: 1px;
    font-family: 'Vujahday Script', cursive;
    a {
      color: $green;
      &:hover {
        color: $base-color;
      }
    }
    span {
      text-decoration: underline;
      text-decoration-color: $base-color;
    }
  }
}

.deep-dive p {
  font-size: 18px;
}

.page-header {
  margin-bottom: 30px;

  &-name {
    margin-bottom: 25px;

    h1 {
      display: inline-block;
      margin-bottom: 0;
      padding-left: 64px;
      @media(max-width: $screen-sm-max) {
        font-size: 28px;
        padding-left: 50px;
      }
    }
    img, .img-circle-medium, .img-circle-medium-private {
      display: inline-block;
      position: absolute;
      margin-top: 2px;
      @media(max-width: $screen-md-max) {
       margin-top: -2px;
      }
      @media(max-width: $screen-sm-max) {
        width: 35px;
        height: 35px;
        margin-top: -1px;
      }
    }
    .img-circle-medium-private {
      @media(max-width: $screen-sm-max) {
        padding: 8px 6px;
        span { font-size: 18px; }
      }
    }
  }
}

hr {
  border-color: $grey-light;
  background-color: $grey-light;
  margin-top: $margin-standard*2;
  margin-bottom: $margin-standard*2;
  opacity: 0.5;
  @media(max-width: $screen-xs-max) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &.short {
    width: 50px;
    margin: 25px auto 25px 0;
    border-color: $purple;
  }
}

.p {
  &-15 { padding: $padding-standard; }
  &x-15 {
    padding-right: $padding-standard;
    padding-left: $padding-standard;
  }
  &x-lg-6 {
    @media(min-width: $screen-lg-min) {
      padding-left: 7rem !important;;
      padding-right: 7rem !important;;
    }
  }
}

.toggle {
  position: absolute;
  font-size: $font-size-sm*2;
  margin-left: 17px;
  margin-top: -1px;
  color: darken($link-color, 5%);
  @media(max-width: $screen-lg-max) {
    margin-left: 0;
  }
  &-container {
    position: relative;
    text-align: right;
    display: inline-block;
    @media(max-width: $screen-sm-max) {
      text-align: left;
    }
  }
  &-label {
    display: inline-block;
    padding-left: 55px;
    @media(max-width: $screen-lg-max) {
      padding-left: 38px;
      padding-right: 15px;
    }
  }
}

.d-xxs-inline-block {
 display: none;
  @media(max-width: $screen-xxs-max) {
    display: inline-block;
  }
}

.col-lg-5 {
  margin-top: 3px;
  margin-bottom: 3px;
  @media(min-width: $screen-lg-min) {
    width: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
