@import "variables";

@mixin btn-hover($background, $border, $text) {
  &:hover, &:focus, &.focus, &:active, &.active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus {
    transition: .2s ease;
    background-color: $background;
    border-color: $border;
    outline: none;
    box-shadow: none;
    color: $text;
  }
  &.disabled, &:disabled {
    background-color: lighten($background, 6%);
    border-color: lighten($border, 6%);
    outline: none;
    box-shadow: none;
    cursor: not-allowed;
    color: $text;
  }
}

.btn {
  letter-spacing: 1px;
  @include font-size-base;
  border: 2px solid $green;
  border-radius: 30px;
  padding: 14px 22px;
  font-weight: $font-weight-normal;
  &-primary {
    background-color: $green;
    border-color: $green;
    color: $background-color;
    @include btn-hover(transparent, $green, $white);
  }
  &-secondary {
    background-color: transparent;
    color: white;
    @include btn-hover($green, $green, $background-color);
  }
  &-tertiary {
    background-color: $link-color;
    border-color: $link-color;
    color: $background-color;
    @include btn-hover(transparent, $link-color, $white);
  }
  &-danger {
    background-color: transparent;
    border-color: $red;
    color: $red;
    @include btn-hover($red, $red, $background-color);
  }
  &-warning {
    background-color: transparent;
    border-color: $orange;
    color: $orange;
    @include btn-hover($orange, $orange, $background-color);
  }

  &-lg {
    border-radius: 30px;
    padding: 11px 18px;
    @include font-size-base;
  }
  &-md {
    border-radius: 24px;
    padding: 10px 16px;
    @include font-size-sm;
  }
  &-sm {
    border-radius: 24px;
    padding: 6px 12px;
    min-width: 75px;
    @include font-size-sm;
    @media(max-width: $screen-xs-max) { min-width: 65px; }
  }
  &-xs {
    border-radius: 24px;
    padding: 5px 11px;
    @include font-size-sm;
  }
  &-radius-right {
    border-radius: 0 24px 24px 0;
  }
}

.watch-button {
  position: absolute;
  margin-top: 40px;
  margin-left: -10px;
  filter: drop-shadow(0px 0px 4px black);
  color: $orange;

  &:hover {
    cursor: pointer;
  }

  @media(max-width: $screen-lg-max) {
    margin: 0;
    position: relative;
  }
  @media(max-width: $screen-md-max) {
    margin-right: 5px;
  }
}

.switch-button {
  .btn {
    &:first-of-type {
      background: linear-gradient(to right, transparent 50%, $green 50%);
      background-size: 200% 100%;
      background-position: left bottom;
      transition: all .5s ease;
      &:hover {
        background-position: right bottom;
      }
    }

    &:last-of-type {
      background: linear-gradient(to left, transparent 50%, $green 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all .5s ease;
      &:hover {
        background-position: left bottom;
      }
    }
  }
}

