@import "variables";

@mixin btn-hover($background, $border, $text) {
  &:hover, &:focus, &.focus, &:active, &.active,
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active:focus,
  &:not(:disabled):not(.disabled).active:focus {
    transition: .2s ease;
    background-color: $background;
    border-color: $border;
    outline: none;
    box-shadow: none;
    color: $text;
  }
  &.disabled, &:disabled {
    background-color: lighten($background, 6%);
    border-color: lighten($border, 6%);
    outline: none;
    box-shadow: none;
    cursor: not-allowed;
    color: $text;
  }
}

.btn {
  letter-spacing: 1px;
  @include font-size-base;
  border: 2px solid $green;
  border-radius: 30px;
  padding: 14px 22px;
  font-weight: $font-weight-bold-secondary;
  &-primary {
    background-color: $green;
    border-color: $green;
    color: $background-color;
    @include btn-hover(transparent, $green, $white);
  }
  &-secondary {
    background-color: transparent;
    color: white;
    @include btn-hover($green, $green, $background-color);
  }
  &-lg {
    font-weight: $font-weight-bold-secondary;
    border-radius: 34px;
    padding: 18px 26px;
    @include font-size-larger;
  }
  &-md {
    font-weight: $font-weight-bold-secondary;
    border-radius: 30px;
    padding: 14px 22px;
    @include font-size-base;
    @media(max-width: $screen-xs-max) {
      padding: 12px 20px;
    }
  }
  &-sm {
    font-weight: $font-weight-normal;
    border-radius: 24px;
    padding: 12px 16px;
    @include font-size-smaller;
  }
  &-xs {
    font-weight: $font-weight-normal;
    border-radius: 24px;
    padding: 12px 16px;
    @include font-size-smaller;
    @media(max-width: $screen-xs-max) {
      padding: 9px 11px;
    }
  }
  &-xxs {
    font-weight: $font-weight-normal;
    border-radius: 18px;
    padding: 8px 10px;
    min-width: 90px;
    @include font-size-smaller;
    @media(max-width: $screen-xs-max) {
      padding: 6px 9px;
    }
  }
}