@import "variables";

.card {
  background-color: $card-background-color;
  border: none;
  border-radius: $border-radius;
  box-shadow: $card-shadow-color 0 0 10px 0;
  margin-bottom: 30px;
  overflow: hidden;
  &:last-of-type { margin-bottom: 0; }

  &-content {
    padding: $padding-standard*2;
  }

  &-heading {
    text-align: center;
    margin-bottom: 30px;
  }

  &-heading-left {
    text-align: left;
    margin-bottom: 15px;
  }

  &-footer {
    padding: $padding-standard $padding-standard*2 $padding-standard*2 $padding-standard*2;
  }

  &-img {
    position: absolute;
    margin-top: -20px;
  }

  [class*=table-responsive-] {
    margin-bottom: 0;
}
}
