@import "variables";

footer {
  padding: 30px 0;
  @media(max-width: $screen-sm-max) {
    padding: 30px 0;
  }

  .row {
    @media(max-width: $screen-md-max) {
    }
  }

  .footer {
    &-separator {
      margin-top: 20px;
      margin-bottom: 35px;
      @media(max-width: $screen-xs-max) {
        margin-bottom: 25px;
        margin-top: 10px;
      }
    }
    &-disclaimer {
      @include font-size-sm;
      margin-bottom: 20px;
    }
    &-copyright {
      color: $grey-light;
      @include font-size-sm;
    }

    &-category {
      @media(max-width: $screen-md-max) {
        display: inline;
      }
    }
    &-item {
      margin-bottom: 15px;
      @media(max-width: $screen-md-max) {
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 10px;
      }
      a.footer-link {
        color: $green;
        &.active, &:hover {
          color: $base-color;
          text-decoration: underline;
          text-decoration-color: $green;
        }
      }
    }
  }
}
