@import "variables";

footer {
  padding: 40px 0;

  .navbar {
    padding: 0;

    .navbar-nav {
      @media(max-width: $screen-md-max) {
        flex-direction: row;
        flex-wrap: wrap;
      }
      .nav-item {
        .nav-link {
          padding-left: 0;
          padding-right: 30px;
          @media(max-width: $screen-sm-max) {
            padding: 5px 15px 15px 0;
          }
        }
      }
    }
  }

  .footer {
    &-separator {
      border-color: $grey-light;
      background-color: $grey-light;
      margin-bottom: 25px;
      @media(max-width: $screen-sm-max) { margin-bottom: 30px; }
    }
    &-disclaimer {
      @include font-size-smaller;
      margin-bottom: 20px;
    }
    &-copyright {
      color: $grey-light;
      @include font-size-smaller;
    }
  }
}