@import "variables";

.required:after {
  content: " *";
}

.form-control {
  border-radius: $border-radius;
  height: 36px;
  padding-left: 18px;
  color: $background-color; // ciemny tekst na białym tle
  background-color: white;
  transition: .1s ease;
  &:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 3px $green-transparent;
    color: $background-color; // ciemny tekst przy focus
    background-color: white;
    transition: .1s ease;
  }
}

label {
  padding-left: $padding-standard;
}

input[type=submit] {
  margin-top: 10px;
}

.form-group-row {
  .form-control {
     &:focus {
       box-shadow: none;
       border-color: $white;
       border-right-color: transparent;
     }
    @media(max-width: $screen-xs-max) {
      height: 40px;
    }
  }
  input[type=submit] {
    margin-top: 0px;
  }
}

.field_with_errors {
  .form-control {
    box-shadow: 0 0 0 3px $red-transparent;
  }
}

.checkbox-custom {
  label {
    padding-left: 20px;
    &:hover { cursor: pointer; }
  }
  .checkbox {
    position: absolute;
    margin-top: 2px;
    margin-left: -30px;
    width: 18px;
    height: 18px;
    display: inline-block;
    background-color: $white;
    border-radius: 50%;
    font-size: 18px;
    .fa-check {
      position: absolute;
      margin-top: -2px;
      margin-left: 2px;
      color: $green;
      font-size: 18px;
      opacity: 0;
      transition: opacity .1s ease-in-out;
    }
  }
  input[type=checkbox] {
    height: 0;
    opacity: 0;
    &:checked ~ label .fa-check {
      opacity: 1;
      transition: opacity .15s ease-in-out;
    }
  }
}

.form-errors {
  h4, h5, h6 {
    margin-bottom: 10px;
  }
  ul {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
    }
  }
}

.captcha {
  width: 299px;
  height: 73px;
  overflow: hidden;
  &-container {
    background-color: rgb(51, 51, 51);
    padding: 2px;
    border-radius: $border-radius;
    width: 306px;
    height: 81px;
    overflow: hidden;
    &:hover { background-color: rgb(34, 34, 34) }
  }
  &-content {
    margin-left: -1px;
    margin-top: -1px;
  }
}

.search-row {
  @media(min-width: $screen-lg-min) {
    .input-group { width: calc(100% - 127px); }
  }
}
