@import "variables";

@mixin img-circle($height, $width) {
  border-radius: 15%;
  height: $height;
  width: $width;
  background-color: #f0f0f0;
}

@mixin img-private($padding-y, $padding-x, $font-size) {
  background-color: rgba($white, 0.6);
  padding: $padding-y $padding-x;
  display: inline-block;
  span {
    color: $background-color;
    font-size: $font-size;
  }
}

.img-circle {
  &-large {
    @include img-circle(56px, 56px);
    &-private {
      @include img-circle(56px, 56px);
      @include img-private(14px, 9px, 30px);
    }
  }
  &-medium {
    @include img-circle(46px, 46px);
    &-private {
      @include img-circle(46px, 46px);
      @include img-private(13px, 10px, 22px);
    }
  }
  &-small {
    @include img-circle(30px, 30px);
    &-private {
      @include img-circle(30px, 30px);
      @include img-private(4px, 5px, 16px);
    }
  }
}

.img-link {
  transition: filter 200ms linear;
  &:hover {
    filter: grayscale(70%) brightness(160%);
    transition: filter 200ms linear;
  }
}

.img-line-graph {
  height: 15px;
  width: 100%;
  background-color: $background-color-secondary;
  border-radius: 5px;
  &-fill {
    height: 15px;
    background-color: $purple;
    border-radius: 5px;
  }
}

.img-loading {
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
  img { width: 100px; }
}

.img {
  &-xs {
    height: 13px;
    width: auto;
  }
  &-sm {
    height: 18px;
    width: auto;
  }
}
