@import "variables";

.map {
  &-background {
    background: url(asset_path("map/map.svg")) no-repeat top right;
    background-size: cover;
    height: 670px;
  }

  &-points {
    width: 100%;
    height: 100%;
  }

  &-point {
    border-radius: 50%;
    //border: 1px solid $link-color-secondary;
    border-color: none;
    //background-color: rgba(224, 161, 232, .4);
    background-color: lighten($green, 12%);
    position: absolute;
    font-weight: 600;
    color: $black;
    letter-spacing: .5px;
    padding: 0;
    text-align: center;

    // TODO classes for point size
    padding-top: 1px;
    font-size: 10px;
    height: 15px;
    width: 15px;
  }

  &-legend {
    position: absolute;
    text-align: left;
    bottom: 0;
    padding: $padding-standard*2;
  }
}
