@import "variables";

@mixin map-point-style($background, $height, $width, $padding) {
  background-color: $background;
  height: $height;
  width: $width;
  padding-top: $padding;
}

.map {
  // TODO styling for smaller viewports

  &-background {
    background: url(asset_path("map/map.svg")) no-repeat top right;
    background-size: cover;
    height: 670px;
  }

  &-points {
    width: 100%;
    height: 100%;
  }

  &-point {
    border-radius: 50%;
    //border: 1px solid $link-color-secondary;
    border-color: none;
    //background-color: rgba(224, 161, 232, .4);
    position: absolute;
    color: $black;
    letter-spacing: 0;
    padding: 0;
    text-align: center;
    font-size: 12px;

    &-sm {
      @include map-point-style(darken($green, 5%), 17px, 17px, 0px)
    }
    &-md {
      @include map-point-style(lighten($green, 5%), 20px, 20px, 2px)
    }
    &-lg {
      @include map-point-style(lighten($green, 15%), 24px, 24px, 3px)
    }
  }

  &-legend {
    position: absolute;
    text-align: left;
    bottom: 0;
    padding: $padding-standard*2;
  }
}
