@import "variables";

.pagination {
  margin-bottom: $margin-standard*2;
  @media(max-width: $screen-md-max) {
    overflow-x: scroll;
  }

  .page, .first, .last {
    display: inline-block;
    margin-right: $margin-standard;
    white-space: nowrap;
    background-color: transparent;
    border: 2px solid $green;
    @include font-size-smaller;
    font-weight: $font-weight-normal;
    padding: 12px 0px;

    a {
      color: $base-color;
      padding: 12px 18px;
    }
    &:hover, &:focus, &.focus {
      background-color: $green;
      border: 2px solid $green;
      transition: .2s ease;
      outline: none;
      box-shadow: none;
      a { color: $background-color; }
    }
  }

  .prev, .next { display: none; }

  .first {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }
  .last {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .page {
    border-radius: 0;
    &.current {
      padding: 12px 18px;
      background-color: $green;
      border: 2px solid $green;
      color: $background-color;
    }
    &.gap {
      padding: 12px 18px;
      background-color: transparent;
      border: 2px solid $green;
      color: $base-color;
      font-weight: $font-weight-bold-secondary;
    }
  }
}