@import "variables";

@mixin item() {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 2px solid $green;
  border-radius: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: $font-weight-normal;
  @include font-size-sm;
}

@mixin item-active() {
  background-color: $green;
  border: 2px solid $green;
  color: $background-color;
}

@mixin item-hover() {
  background-color: $green;
  border: 2px solid $green;
  transition: .2s ease;
  outline: none;
  box-shadow: none;
  a, .page-link { color: $background-color; }
}

@mixin item-first() {
  border-top-left-radius: $border-radius-larger;
  border-bottom-left-radius: $border-radius-larger;
  width: 60px;
}

@mixin item-last() {
  border-top-right-radius: $border-radius-larger;
  border-bottom-right-radius: $border-radius-larger;
  width: 60px;
}

@mixin link() {
  padding: 0;
  margin: 0;
  color: $base-color;
  background-color: transparent;
  border: none;
  display: block;
  width: 100%;
  height: 100%;
  &:focus, &.focus {
    box-shadow: none;
  }
}

.pagination {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: $margin-standard;
  @media(max-width: $screen-sm-max) {
    gap: 8px;
  }

  .prev, .next { display: none; }

  .page, .first, .last {
    @include item();
    a {
      @include link();
    }
    &:hover, &:focus, &.focus {
      @include item-hover;
    }
  }
  .first {
    @include item-first;
  }
  .last {
    @include item-last;
  }

  .page {
    &.current {
      @include item-active();
    }
    &.gap {
      background-color: transparent;
      border: 2px solid $green;
      color: $base-color;
      font-weight: $font-weight-bold-secondary;
      padding: 0;
    }
  }

  .page-item {
    @include item();
    .page-link {
      @include link;
    }
    &:not(.disabled):hover, &:not(.disabled):focus, &:not(.disabled).focus {
      @include item-hover;
    }

    &.active {
      @include item-active();
      .page-link {
        color: $background-color;
      }
    }

    &:first-of-type {
      @include item-first;
    }
    &:last-of-type {
      @include item-last;
    }
  }
}
