@import "variables";

.score-2 {
  color: $score-green;
}

.score-1 {
  color: $score-blue;
}

.score-0 {
  color: $score-grey;
}

.score-minus-1 {
  color: Orange;
}

.score-minus-2 {
  color: OrangeRed;
}