@import "variables";
table, .table {
  color: inherit;
  margin-bottom: 0;

  tbody, td, tfoot, th, thead, tr {
    border-style: none;
  }

  thead {
    @include font-size-md();
    background-color: $table-background-color;
    th {
      border: none;
      border-bottom: 2px solid $table-border-color !important;
      padding: $padding-standard 20px;
      vertical-align: middle;
      @media(max-width: $screen-md-max) {
        padding: $padding-standard $padding-standard*2;
        padding-right: 10px;
      }
    }
  }

  tbody {
    tr {
      border-top: 1px solid $table-border-color-secondary;
    }
    tr:nth-of-type(even) {
      background-color: $table-background-color;
    }
    tr:nth-of-type(odd) {
      background-color: $table-background-color-secondary;
    }
    td {
      border-top: none;
      padding: $padding-standard 20px;
      vertical-align: middle;
      @media(max-width: $screen-md-max) {
        padding: $padding-standard $padding-standard*2;
      }
    }

    &+tbody {
      border-top: 2px solid $table-border-color;
    }
  }

  &.table-scores {
    thead th {
      padding: 10px $padding-standard;
      vertical-align: middle;
    }
    tbody td {
      padding: 10px $padding-standard;
      vertical-align: middle;
    }
    @media(max-width: $screen-md-max) {
      tr {
        display: table-row;
        td {
          display: table-cell;
          width: initial !important;
          &:first-of-type {
            padding-bottom: 10px;
          }
          @media(max-width: $screen-sm-max) {
            &:last-of-type {
              display: none;
            }
          }
        }
      }
    }
  }

  &.table-condensed {
    thead th {
      padding: 10px $padding-standard;
    }
    tbody td {
      padding: 10px $padding-standard;
    }
  }

  .chart {
    &-top-container {
      position: relative;
      margin-left: 25px;
      width: 87%;
    }
    &-top-value {
      position: absolute;
      font-size: 11px;
      color: #979797;
      margin-top: -10px;
      @media(max-width: $screen-md-max) {
        display: none;
      }
    }
    &-link.active {
      color: $link-color-secondary;
      text-decoration: underline;
    }
  }

  .column {
    &-xxs {
      width: 1%;
      min-width: 86px;
    }
    &-xs {
      width: 10%;
      min-width: 100px;
    }
    &-sm {
      width: 15%;
      min-width: 100px;
    }
    &-md {
      width: 20%;
      min-width: 145px;
    }
    &-md-sm {
      width: 13%;
      min-width: 90px;
      @media (max-width: $screen-md-max) {
        width: 17%;
        min-width: 140px;
      }
      @media (max-width: $screen-sm-max) {
        width: 20%;
        min-width: 140px;
      }
    }
    &-lg {
      width: 25%;
      min-width: 160px;
    }
    &-xl {
      width: 30%;
      min-width: 200px;
    }
    &-xxl {
      width: 36%;
      min-width: 200px;
    }
  }
}


.table-block-sm {
  @media(max-width: $screen-md-max) {
    tr {
      display: block;
      td {
        display: block;
        width: 100% !important;
        border: none;
        &:first-of-type {
          padding-bottom: 0;
        }
      }
      th {
        display: block;
        width: 100% !important;
        text-align: left !important;
        padding-left: 20px !important;
      }
    }
  }
}


.validators-table {
  @include font-size-md();
  max-width: 100%;
  width: 100%;
  table-layout: fixed;
  thead {
    @media(max-width: $screen-lg-max) {
      .column-info-avatar { display: none; }
    }
    @media(max-width: $screen-md-max) { display: none; }
  }
  thead, tbody {
    td, th {
      padding: $padding-standard 30px;
      @media(max-width: $screen-xl-max) {
        padding: $padding-standard 20px;
      }
      @media(max-width: $screen-md-max) {
        padding: $padding-standard $padding-standard*2;
      }
    }

    .column {
      &-chart {
        width: 20%;
        padding-top: 15px;
        padding-bottom: 8px;
        @media(max-width: $screen-lg-max) {
          width: 25%;
          padding-right: 10px;
          padding-left: 10px;
        }
        @media(max-width: $screen-md-max) {
          padding-right: 25px;
          padding-left: 25px;
          padding-top: 0;
        }
      }

      &-info {
        width: 29%;
        padding-right: 0;
        @media(max-width: $screen-xl-max) {
          width: 28%;
        }
        @media(max-width: $screen-lg-max) {
          width: 210px;
        }
        &-row {
          display: flex;
          align-items: center;
          position: relative;
        }
        &-avatar {
          width: 86px;
          text-align: center;
          padding-right: 28px;
          @media(max-width: $screen-lg-max) {
            width: 25px;
            padding-right: 0;
            text-align: left;
            position: absolute;
            top: 0;
            .img-circle-large, .img-circle-large-private {
              display: none;
            }
          }
        }
        &-name {}
        &-link {
          &:not(.no-watchlist) {
            @media(max-width: $screen-lg-max) {
              padding-left: 25px;
            }
          }
        }
      }

      &-speedometer {
        width: 17%;
        @media(max-width: $screen-lg-max) {
          width: 16%;
          padding-right: 10px;
          padding-left: 10px;
        }
        @media(max-width: $screen-md-max) {
          padding-left: $padding-standard*2;
          padding-top: 0.5rem;
        }
      }

      &-numeric {
        width: 10%;
        @media(max-width: $screen-lg-max) {
          width: 95px;
        }
      }
    }
  }
}

.stake-accounts-table {
  tbody, thead {
    tr, th {
      background-color: $table-background-color !important;
      border-bottom: 1px solid $table-border-color-secondary;
    }
  }

  &.table-block-sm {
    @media(max-width: $screen-md-max) {
      tr td:not(:last-of-type) { padding-bottom: 0; }
    }
  }
}

