@import "variables";
$table-lines-color: darken($card-border-color, 3%);

table, .table {
  color: inherit;
  max-width: 100%;
  table-layout: fixed;

  thead {
    background-color: $table-lines-color;
  }

  th {}
  tr {}
  td { padding: $padding-standard 20px; }

  .avatar-column {
    width: 90px;
    text-align: center;
    padding: 0;
    .number {
      font-weight: $font-weight-bold-primary;
      @include font-family-alternative;
      position: absolute;
      width: 90px;
      background-color: $table-lines-color;
      padding: 2px 0;
    }
    .avatar {
      padding-top: 45px;
    }
  }

  .name-column {
    width: 18%;
  }

  .chart-column {
    width: 22%;
  }

  &.table-striped {
    tbody {
      tr {
        border-top: 1px solid $table-lines-color;
      }
      tr:nth-of-type(odd) {
        background-color: transparent;
      }
      tr:nth-of-type(even) {
        background-color: darken($card-background-color, 2%);
      }
    }
  }
}