@import "variables";
$table-lines-color: darken($card-border-color, 3%);

table, .table {
  color: inherit;

  thead {
    background-color: $table-lines-color;
    th {
      border: none;
      padding: $padding-standard;
    }
  }

  .subhead {
    @include font-size-smaller;
    background-color: darken($table-lines-color, 4%);
    td {
      border-top: 1px solid $table-lines-color;
      padding: $padding-standard;
    }
  }

  tbody {
    tr {
      border-top: 1px solid $table-lines-color;
    }
    tr:nth-of-type(even) {
      background-color: $card-background-color;
    }
    tr:nth-of-type(odd) {
      background-color: darken($card-background-color, 2%);
    }
    td {
      padding: $padding-standard;
      border-top: 1px solid $table-lines-color;
    }
  }


  .col-sm {
    @media(max-width: $screen-sm-max) {
      &-120 { min-width: 120px;}
      &-130 { min-width: 130px;}
      &-140 { min-width: 140px;}
      &-170 { min-width: 170px;}
    }
  }
}


.table-block-sm {
  @media(max-width: $screen-md-max) {
    tr {
      display: block;
      td {
        display: block;
        width: 100% !important;
        border: none;
        &:first-of-type {
          padding-bottom: 0;
        }
      }
      th {
        display: block;
        width: 100% !important;
        text-align: left !important;
        padding-left: 20px !important;
      }
    }
  }
}


#validators-table {
  max-width: 100%;
  width: 100%;
  table-layout: fixed;

  .avatar-column {
    width: 80px;
    text-align: center;
    padding: 0;
    .avatar {
      .img-circle-medium-private {
        display: inline-block;
      }
    }
  }

  .name-column {
    min-width: 200px;
    padding-left: 0;
    padding-right: 5px;
  }

  .chart-column {
    width: 18%;
    padding: 20px 30px 10px 10px;
  }

  @media(max-width: $screen-lg-max) {
    .avatar-column { display: none; }
    .name-column { padding-left: 20px; }
  }

  @media(max-width: $screen-md-max) {
    thead { display: none; }
    .subhead { display: none; }
    .name-column {
      line-height: 25px;
      padding-bottom: 0px;
    }
    .chart-column {
      padding: 3px 20px;
      &:last-of-type {
        padding-bottom: 15px;
      }
    }
  }

}