@import "variables";

.nav-tabs {
  border-bottom: none;
  margin: 0 auto;

  .nav-item {
    margin-bottom: 0;

    .nav-link {
      margin-bottom: 16px;
      letter-spacing: 1px;
      border: 2px solid $green;
      font-weight: $font-weight-normal;
      background-color: transparent;
      color: white;
      border-radius: 24px;
      padding: 8px 14px;
      min-width: 75px;
      @include font-size-smaller;

      &:hover, &.active {
        transition: .2s ease;
        background-color: $green;
        border-color: $green;
        outline: none;
        box-shadow: none;
        color: $background-color;
      }
    }
  }
}
