@import "variables";

.nav-tabs {
  border-bottom: none;
  margin: 0 auto;

  .nav-item {
    margin-bottom: 0;

    .nav-link {
      margin-bottom: 20px;
      letter-spacing: 1px;
      @include font-size-base;
      border: 2px solid $green;
      border-radius: 24px;
      padding: 12px 16px;
      font-weight: $font-weight-normal;
      @include font-size-smaller;
      background-color: transparent;
      color: white;
      @media(max-width: $screen-xs-max) {
        padding: 9px 11px;
      }

      &:hover, &.active {
        transition: .2s ease;
        background-color: $green;
        border-color: $green;
        outline: none;
        box-shadow: none;
        color: $background-color;
      }
    }
  }
}