@import "variables";

p {}

.text {
  &-muted {
    color: unset !important;
    opacity: 0.6;
  }
}

.lead, big {
  @include font-size-larger();
}

small, .small {
  @include font-size-smaller();
}

strong {
  font-weight: $font-weight-bold-primary;
}

@for $i from 1 through 3 {
  h#{$i}, .h#{$i} {
    @include font-family-alternative();
    font-weight: $font-weight-bold-primary;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@for $i from 4 through 6 {
  h#{$i}, .h#{$i} {
    @include font-family-alternative();
    font-weight: $font-weight-bold-secondary;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; line-height: $font-size-h2*1.1; }
h3, .h3 { font-size: $font-size-h3; line-height: $font-size-h3*1.1; }
h4, .h4 { font-size: $font-size-h4; line-height: $font-size-h4*1.2; }
h5, .h5 { font-size: $font-size-h5; line-height: $font-size-h5*1.2; }
h6, .h6 { font-size: $font-size-h6; line-height: $font-size-h6*1.5; }
@media(max-width: $screen-md-max) {
  h1, .h1 { font-size: $font-size-h1*.85; }
  h2, .h2 { font-size: $font-size-h2*.85; }
  h3, .h3 { font-size: $font-size-h3*.85; }
  h4, .h4 { font-size: $font-size-h4*.85; }
  h5, .h5 { font-size: $font-size-h5*.85; }
  h6, .h6 { font-size: $font-size-larger-tablet; }
}
@media(max-width: $screen-sm-max) {
  h1, .h1 { font-size: $font-size-h1*.8; }
  h2, .h2 { font-size: $font-size-h2*.8; }
  h3, .h3 { font-size: $font-size-h3*.8; }
  h4, .h4 { font-size: $font-size-h4*.8; }
  h5, .h5 { font-size: $font-size-h5*.8; }
  h6, .h6 { font-size: $font-size-larger-mobile; }
}
.heading-primary {
  font-size: 68px;
  line-height: 70px;
  @include font-family-alternative();
  font-weight: $font-weight-bold-primary;
  margin: 0 40% 30px 0;
}
.heading-secondary {
  text-transform: uppercase;
}


a {
  color: $link-color;
  transition: color .1s ease-in-out;
  &:hover {
    text-decoration: none;
    color: lighten($link-color, 12%);
    transition: color .1s ease-in-out;
  }
  &.base-color {
    color: $base-color;
    cursor: pointer;
    &:hover { color: lighten($base-color, 15%); }
  }
  img {
    transition: filter .3s ease-in-out;
    &:hover {
      filter: grayscale(70%);
      transition: filter .3s ease-in-out;
    }
  }
}