@import "variables";

p {
  margin-bottom: $margin-standard;
}

.text {
  &-muted {
    color: $grey-light !important;
  }
  &-danger {
    color: $red !important;
  }
  &-warning {
    color: $orange !important;
  }
  &-success {
    color: $green !important;
  }
  &-purple {
    color: $purple;
  }
}


.lead, big {
  @include font-size-lg();
}

small, .small {
  @include font-size-sm();
}
.small-md {
  @media(max-width: $screen-md-max) {
    @include font-size-sm();
  }
}

.font-size-xs {
  @include font-size-xs();
}

mark, .mark {
  background-color: transparent;
  color: $link-color;
}

pre {
  background-color: $card-background-color;
  color: inherit;
  border-radius: $border-radius;
  padding: $padding-standard;
  @include font-size-sm();
}

code {
  font-family: monospace;
  font: courier;
  @media(max-width: $screen-sm-max) {
    word-break: break-all;
  }
  &.text-green {
    color: $green;
  }
}

strong, .fw-bold {
  font-weight: $font-weight-bold-primary;
}

.stat {
  .fa-solid {
    font-size: 15px;
    margin-right: 6px;
  }
  &-title-1 {
    font-weight: $font-weight-bold-secondary;
    @include font-family-alternative();
    font-size: 52px;
    @media(max-width: $screen-md-max) { font-size: $font-size-h1*.85; }
    @media(max-width: $screen-sm-max) { font-size: $font-size-h1*.8; }
  }
  &-title-2 {
    font-weight: $font-weight-bold-secondary;
    @include font-family-alternative();
    font-size: $font-size-h1;
    @media(max-width: $screen-md-max) { font-size: 34px; }
    @media(max-width: $screen-sm-max) { font-size: 30px; }
  }
  &-title-3 {
    font-weight: $font-weight-bold-secondary;
    @include font-family-alternative();
    font-size: $font-size-h4;
    @media(max-width: $screen-md-max) { font-size: $font-size-h4*.85; }
    @media(max-width: $screen-sm-max) { font-size: $font-size-h4*.8; }
  }
  &-title-4 {
    font-weight: $font-weight-bold-secondary;
    @include font-family-alternative();
    font-size: $font-size-h6;
    @media(max-width: $screen-sm-max) { font-size: $font-size-h6*.9; }
  }
  small .fa-solid {
    font-size: 11px;
  }
}

@for $i from 1 through 3 {
  h#{$i}, .h#{$i} {
    @include font-family-alternative();
    font-weight: $font-weight-bold-secondary;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@for $i from 4 through 6 {
  h#{$i}, .h#{$i} {
    @include font-family-alternative();
    font-weight: $font-weight-bold-secondary;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; line-height: $font-size-h2*1.1; }
h3, .h3 { font-size: $font-size-h3; line-height: $font-size-h3*1.1; }
h4, .h4 { font-size: $font-size-h4; line-height: $font-size-h4*1.2; }
h5, .h5 { font-size: $font-size-h5; line-height: $font-size-h5*1.2; }
h6, .h6 { font-size: $font-size-h6; line-height: $font-size-h6*1.5; }
@media(max-width: $screen-md-max) {
  h1, .h1 { font-size: $font-size-h1*.85; }
  h2, .h2 { font-size: $font-size-h2*.85; }
  h3, .h3 { font-size: $font-size-h3*.85; }
  h4, .h4 { font-size: $font-size-h4*.85; }
  h5, .h5 { font-size: $font-size-h5*.85; }
  h6, .h6 { font-size: $font-size-lg-tablet; }
}
@media(max-width: $screen-sm-max) {
  h1, .h1 { font-size: $font-size-h1*.8; }
  h2, .h2 { font-size: $font-size-h2*.8; }
  h3, .h3 { font-size: $font-size-h3*.8; }
  h4, .h4 { font-size: $font-size-h4*.8; }
  h5, .h5 { font-size: $font-size-h5*.8; }
  h6, .h6 { font-size: $font-size-lg-mobile; }
}
.heading-primary {
  color: $white;
  font-size: 50px;
  line-height: 50px;
  @include font-family-alternative();
  font-weight: $font-weight-bold-primary;
  @media(max-width: $screen-md-max) {
    font-size: 36px;
    line-height: 36px;
  }
  @media(max-width: $screen-sm-max) { font-size: 32px }
}
.heading-secondary {
  color: $orange;
  @include font-family-alternative();
  @include font-size-sm();
  text-transform: uppercase;
  font-weight: $font-weight-bold-primary;
  letter-spacing: 1px;
}


a {
  color: $link-color;
  text-decoration: none;
  transition: color .1s ease-in-out;
  &:hover {
    color: $link-color-secondary;
    transition: color .1s ease-in-out;
  }
  &.base-color {
    color: $base-color;
    cursor: pointer;
    &:hover { color: $base-color; }
  }
  &.text-muted, .text-muted {
    color: $grey-light;
  }
}

.word-break {
  word-break: break-all;
  &-sm {
    @media(max-width: $screen-sm-max) {
      word-break: break-all;
    }
  }
  &-md {
    @media(max-width: $screen-md-max) {
      word-break: break-all;
    }
  }
  &-lg {
    @media(max-width: $screen-lg-max) {
      word-break: break-all;
    }
  }
  &-xl {
    @media(max-width: $screen-xl-max) {
      word-break: break-all;
    }
  }
}
