// Colors

// Brand colors
$green: #00ce99;
$purple: #b832c8;

// Basic text and background colors
$base-color: #dedede;
$link-color: lighten($purple, 28%);
$link-color-secondary: lighten($link-color, 18%);
$background-color: #1d1834;
$background-color-secondary: lighten($background-color, 6%);
$background-color-tertiary: #2f163c;

// Cards
$card-background-color: #17132a;
$card-background-color-secondary: darken($card-background-color, 3%);
$card-shadow-color: lighten($background-color-secondary, 11%);

// Tables
$table-border-color: darken($card-shadow-color, 2%);
$table-border-color-secondary: darken($card-shadow-color, 5%);
$table-background-color: $card-background-color;
$table-background-color-secondary: $card-background-color-secondary;

// Other colors
$black: #000;
$white: #fff;
$red: #ff5262;
$orange: #ffc107;
$grey-light: darken($base-color, 30%);

// Score and chart colors:
$blue: #0091f2;
$grey: #cacaca;
$green-transparent: rgba(0, 206, 153, 0.4);
$orange-transparent: rgba(255, 193, 7, 0.4);
$red-transparent: rgba(255, 82, 98, 0.4);
$grey-transparent: rgba(202, 202, 202, 0.3);


// Breakpoints

$screen-xxs-max: 405px;
$screen-xs-max: 575px;
$screen-sm-min: 576px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 991px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;
$screen-xl-max: 1399px;
$screen-xxl-min: 1400px;
$screen-xxl-max: 1599px;
$screen-xxxl-min: 1600px;


// Typography

$font-family-base: 'Roboto';
$font-family-alternative: 'Montserrat';

@mixin font-family-base {
  font-family: $font-family-base, sans-serif;
}
@mixin font-family-alternative {
  font-family: $font-family-alternative, sans-serif;
}

$font-size-base: 16px;
$font-size-base-tablet: 15.5px;
$font-size-base-mobile: 15px;

$font-size-lg: 18px;
$font-size-lg-tablet: 17.5px;
$font-size-lg-mobile: 17px;

$font-size-md: 15px;
$font-size-md-tablet: 15px;
$font-size-md-mobile: 14.5px;

$font-size-sm: 13px;
$font-size-sm-tablet: 12.5px;
$font-size-sm-mobile: 12px;

$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 28px;
$font-size-h4: 24px;
$font-size-h5: 22px;
$font-size-h6: $font-size-lg;

@mixin font-size-base {
  font-size: $font-size-base;
  @media(max-width: $screen-md-max) {
    font-size: $font-size-base-tablet;
  }
  @media(max-width: $screen-sm-max) {
    font-size: $font-size-base-mobile;
  }
}

@mixin font-size-lg {
  font-size: $font-size-lg;
  @media(max-width: $screen-md-max) {
    font-size: $font-size-lg-tablet;
  }
  @media(max-width: $screen-sm-max) {
    font-size: $font-size-lg-mobile;
  }
}

@mixin font-size-md {
  font-size: $font-size-md;
  @media(max-width: $screen-md-max) {
    font-size: $font-size-md-tablet;
  }
  @media(max-width: $screen-sm-max) {
    font-size: $font-size-md-mobile;
  }
}

@mixin font-size-sm {
  font-size: $font-size-sm;
  @media(max-width: $screen-md-max) {
    font-size: $font-size-sm-tablet;
  }
  @media(max-width: $screen-sm-max) {
    font-size: $font-size-sm-mobile;
  }
}

@mixin font-size-xs {
  font-size: $font-size-sm-mobile;
  @media(max-width: $screen-md-max) {
    font-size: $font-size-sm-mobile;
  }
  @media(max-width: $screen-sm-max) {
    font-size: $font-size-sm-mobile;
  }
}

$font-weight-bold-primary: 700;
$font-weight-bold-secondary: 600;
$font-weight-normal: 400;


// Other

$border-radius: 25px;
$border-radius-larger: 30px;

@mixin box-shadow() {
  box-shadow: $grey-light 0px 5px 15px 0px;
}
@mixin filter-shadow() {
  filter: drop-shadow(0px 5px 10px $grey-light);
}
@mixin border() {
  border: 1px solid $grey-light;
}

$padding-standard: 15px;
$margin-standard: 15px;
