<section class="banner">
  <div class="heading-primary">Meet the <span>validators</span> who power Solana</div>
  <h6 class="heading-secondary mb-4 mb-lg-5">the world's fastest blockchain!</h6>
  <p class="lead">
    The tables below show each validator by name and include some recent statistics for each. See our
    <%= link_to 'FAQ', faq_url, target: '_blank' %> for a description of the scores shown below. Special thanks to
    <%= link_to 'Staking Facilities', 'https://stakingfacilities.com/', target: '_blank' %> for their support!
  </p>
</section>