<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-content">
        <div class="text-center">
          <h2>
            No results for given criteria.
          </h2>
          <%= link_to "Reset filters", root_url, class: "btn mt-3 mb-3 btn-secondary "%>
        </div>
      </div>
    </div>
  </div>
</div>

