<div class="card">
  <div class="card-content">
    <div class="text-center">
      <h1 class="h2 card-heading">No results for given criteria</h1>
      <div class="d-flex flex-column-reverse flex-md-row gap-3">
        <%= link_to "Reset filters",
                    url_for(controller: "validators",
                            action: validators_reset_action(trent_mode),
                            network: params[:network]),
                    class: "btn btn-sm btn-secondary" %>
        <%= render "validators/search_bar" %>
      </div>
    </div>
  </div>
</div>


