<%= javascript_pack_tag 'ping_thing/stats_bar.js' %>

<% if params[:network] == "mainnet"%>
  <div id="ping-thing-stats">
    <stats-bar network=<%= params[:network]%> title-visible="true"/>
  </div>
<% end %>
