<div class="row">
  <div class="col-md-6 mb-2">
    <%= link_to 'Score',
                url_for(order: 'score', page: params[:page], network: params[:network], refresh: params[:refresh]),
                class: "btn btn-xs mr-1 mb-3 btn-secondary #{ 'active' unless %w[random name stake].include?(params[:order]) }" %>

    <%= link_to 'Stake',
                url_for(order: 'stake', page: params[:page], network: params[:network], refresh: params[:refresh]),
                class: "btn btn-xs mr-1 mb-3 btn-secondary #{ 'active' if params[:order] == 'stake' }" %>
  </div>

  <div class="col-md-6">
    <%= render 'validators/search_bar' %>
  </div>
</div>
