<%= javascript_pack_tag 'validators/circulating_supply.js' %>

<% if params[:network] == "mainnet"%>
  <div class="col-md-4 col-sm-6 mb-4">
    <div class="card h-100">
      <div class="card-content">
        <h2 class="h5 card-heading-left">Stake</h2>
        <div id="circulating-supply-stats">
          <circulating-supply/>
        </div>
      </div>
    </div>
  </div>
<% end %>
