<%= javascript_pack_tag 'validators/circulating_supply.js' %>

<% if params[:network] == "mainnet"%>
  <div id="circulating-supply-stats">
    <circulating-supply/>
  </div>
  <div id="active-stake-stats">
    <active-stake/>
  </div>
<% end %>
