<%= javascript_pack_tag 'validators/circulating_supply.js' %>

<% if params[:network] == "mainnet"%>
  <div class="card col-md-6 col-sm-12">
    <div class="card-content">
      <div class="row">
        <div id="circulating-supply-stats" class="col-12">
          <circulating-supply/>
        </div>
      </div>
      <div class="row">
        <div id="active-stake-stats" class="col-12">
          <active-stake/>
        </div>
      </div>
    </div>
  </div>
<% end %>
