<div class="card h-100">
  <div class="card-content">
    <h2 class="h5 card-heading-left">New: validators watchlist</h2>

    <div class="lead">
      Sign up and add validators to your favourites
      <i class="far fa-star text-warning mx-1"></i> to watch them.
    </div>
    <div class="text-muted mb-4">
      We will send you e-mail notification every time your favourite validator changes its commission.
    </div>

    <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-sm btn-secondary" %>
  </div>
</div>
