<div class="card h-100">
  <div class="card-content">
    <h2 class="h5 text-center">New: validators watchlist</h2>

    <div class="lead text-center">
      Sign up and add validators to your favourites
      <i class="fa-regular fa-star text-warning mx-1"></i> to watch them.
    </div>
    <div class="text-muted mb-4 text-center">
      We will send you e-mail notification every time your favourite validator changes its commission.
    </div>

    <div class="text-center">
      <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-sm btn-secondary" %>
    </div>
  </div>
</div>
