<div class="card">
  <div class="card-content">
    <h2 class="h3 card-heading">New: validators watchlist</h2>
    <p class="lead">
      <%= link_to "Sign up", new_user_registration_path %> and add validators to your favourites
      (<i class="far fa-star text-warning"></i>) to watch them. We will send you e-mail notification every time
      your favourite validator changes its commission.
    </p>
    <div class="text-muted text-center">
      Contact us if you have another idea for notifications that would be helpful to you.
    </div>
  </div>
</div>
