<p id="notice"><%= notice %></p>

<p>
  <strong>Network:</strong>
  <%= @validator.network %>
</p>

<p>
  <strong>Account:</strong>
  <%= @validator.account %>
</p>

<%= link_to 'Back', validators_path %>
