---
http_interactions:
- request:
    method: post
    uri: https://api.mainnet-beta.solana.com/
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":81016,"method":"getInflationReward","params":[["9Gko8QZBbV5SrEvHKtQHcMrGGSfgFP3KJUozEGifu25x"]]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rpc-Node:
      - ams61
      X-Ratelimit-Tier:
      - free
      X-Ratelimit-Method-Limit:
      - '5'
      X-Ratelimit-Method-Remaining:
      - '4'
      X-Ratelimit-Rps-Limit:
      - '100'
      X-Ratelimit-Rps-Remaining:
      - '99'
      X-Ratelimit-Conn-Limit:
      - '40'
      X-Ratelimit-Conn-Remaining:
      - '39'
      X-Ratelimit-Connrate-Limit:
      - '40'
      X-Ratelimit-Connrate-Remaining:
      - '39'
      X-Ratelimit-Pubsub-Limit:
      - '5'
      X-Ratelimit-Pubsub-Remaining:
      - '5'
    body:
      encoding: ASCII-8BIT
      string: '{"jsonrpc":"2.0","result":[{"amount":5334071081,"commission":10,"effectiveSlot":172800020,"epoch":399,"postBalance":11144914142}],"id":81016}

        '
  recorded_at: Wed, 18 Jan 2023 10:58:02 GMT
recorded_with: VCR 6.0.0
