<canvas id="coinGeckoChart"
  data-data="<%= @coin_gecko_data.to_json %>"
  data-color="<%= SPARK_LINE_3 %>"
></canvas>
<p class='mt-3 text-center'>Average price of Sol Token, powered by <a href="https://www.coingecko.com/en" target='_blank'>CoinGecko</a>.</p>
