<canvas id="ftxChart"
    data-data="<%= @ftx_data.to_json %>"
  ></canvas>
<p class='mt-3 text-center'>Open, high, low and close price of Sol Token, powered by <a href="https://ftx.com/" target='_blank'>FTX Exchange</a>.</p>
