<section class="page-header">
  <h1>Sol Token Prices</h1>
</section>

<div class="card">
  <div class="card-content">
    <div class="d-inline-block mb-4">
      <a class="btn btn-sm btn-secondary me-1 solPricesChartTabButton <%= active_button?(:coin_gecko) %>" href="#coinGeckoChartTab">
        CoinGecko
      </a>
    </div>

    <div class="d-inline-block mb-4 float-md-end">
      <%= create_filter_links %>
    </div>

    <!-- Tab panes -->
    <div class="tab-content" id='sol-prices-tab-content'>
      <div class="tab-pane solPriceChartTab <%= active_tab?(:coin_gecko) %>" id="coinGeckoChartTab">
        <%= render 'coin_gecko_chart' %>
      </div>
    </div>
  </div>
</div>
