---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ftx-Key:
      - AUk9zEtHT7Jan9XINgEBpMOzp-XP7F28qExTYYj1
      Ftx-Sign:
      - c46737c128b5a318a76375153f7dde02741431bd7bcc2ffd24bd8d726fa57adf
      Ftx-Ts:
      - '1630924641000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6843f6ecf88f5a49da42c838308b9fe3"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":[{"name":"1INCH-PERP","enabled":true,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"minProvideSize":1.0,"last":3.9213,"bid":3.9221,"ask":3.9222,"price":3.9221,"type":"future","baseCurrency":null,"quoteCurrency":null,"underlying":"1INCH","restricted":false,"highLeverageFeeExempt":false,"change1h":-0.006207875133025896,"change24h":-0.01452297796427046,"changeBod":0.018356961105052708,"quoteVolume24h":13301159.928,"volumeUsd24h":13301159.928},{"name":"1INCH-0924","enabled":true,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"minProvideSize":1.0,"last":3.9575,"bid":3.9395,"ask":3.9675,"price":3.9575,"type":"future","baseCurrency":null,"quoteCurrency":null,"underlying":"1INCH","restricted":false,"highLeverageFeeExempt":false,"change1h":-0.007000552014854218,"change24h":-0.013559660011465888,"changeBod":0.015316332290009749,"quoteVolume24h":46244.9598,"volumeUsd24h":46244.9598},{"name":"1INCH/USD","enabled":true,"postOnly":false,"priceIncrement":0.0001,"sizeIncrement":1.0,"minProvideSize":1.0,"last":3.9137,"bid":3.9111,"ask":3.9153,"price":3.9137,"type":"spot","baseCurrency":"1INCH","quoteCurrency":"USD","underlying":null,"restricted":false,"highLeverageFeeExempt":true,"change1h":-0.005766690376994208,"change24h":-0.012714109129436693,"changeBod":0.018980420745677982,"quoteVolume24h":2287336.7528,"volumeUsd24h":2287336.7528},{"name":"AAPL-0924","enabled":true,"postOnly":false,"priceIncrement":0.01,"sizeIncrement":0.01,"minProvideSize":0.01,"last":154.25,"bid":154.42,"ask":156.1,"price":154.42,"type":"future","baseCurrency":null,"quoteCurrency":null,"underlying":"AAPL","restricted":true,"tokenizedEquity":true,"highLeverageFeeExempt":false,"change1h":0.0,"change24h":0.002011550191421712,"changeBod":0.0011021069692058348,"quoteVolume24h":910.5386,"volumeUsd24h":910.5386},{"name":"AAPL/USD","enabled":true,"postOnly":false,"priceIncrement":0.01,"sizeIncrement":0.01,"minProvideSize":0.01,"last":155.17,"bid":154.29,"ask":155.17,"price":155.17,"type":"spot","baseCurrency":"AAPL","quoteCurrency":"USD","underlying":null,"restricted":true,"tokenizedEquity":true,"highLeverageFeeExempt":true,"change1h":0.00[...]
