---
http_interactions:
- request:
    method: get
    uri: https://ftx.com/api/markets/SOL/USD/candles?end_time=1630886399&resolution=3600&start_time=1630800000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ftx-Key:
      - AUk9zEtHT7Jan9XINgEBpMOzp-XP7F28qExTYYj1
      Ftx-Sign:
      - 9921bf268f469a55671e612fbc7926d60790b222ae1d1f78e67e8892ea3fd145
      Ftx-Ts:
      - '1630935802000'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"631926ef3b398d5564b34651d7a0a053"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"result":[{"startTime":"2021-09-05T00:00:00+00:00","time":1630800000000.0,"open":139.015,"high":142.1275,"low":137.92,"close":141.66,"volume":3308265.048075},{"startTime":"2021-09-05T01:00:00+00:00","time":1630803600000.0,"open":141.655,"high":145.0475,"low":141.535,"close":144.195,"volume":6337676.615175},{"startTime":"2021-09-05T02:00:00+00:00","time":1630807200000.0,"open":144.195,"high":144.2875,"low":142.15,"close":142.6675,"volume":2973659.043325},{"startTime":"2021-09-05T03:00:00+00:00","time":1630810800000.0,"open":142.6675,"high":143.4575,"low":140.415,"close":140.655,"volume":3732015.8444},{"startTime":"2021-09-05T04:00:00+0[...]
