<table class='table table-striped'>
  <thead class="thead-dark">
    <tr>
      <th>Account</th>
      <th>Skipped<br />Slots</th>
      <th>Percent</th>
      <th>Max Ping<br />Time (ms)</th>
    </tr>
  </thead>
  <tbody>
    <% histories.each do |val| %>
      <tr>
        <td>
          <%= link_to shorten_key(val['account']), validator_url(val['validator_id'])  %>
        </td>
        <td><%= val['skipped_slots'] %></td>
        <td><%= number_to_percentage val['skipped_slot_percent'].to_f * 100.0 %></td>
        <td>
           <%= val['ping_time'].nil? ? 'N/A' : val['ping_time'] %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
