<h1>API Documentation</h1>
<div class='row'>
  <div class="col-sm-12">
    <p>
      Our API provides several different endpoints to query the validators database. You must have a verified account in order to make requests against the JSON API. Your user account and an API token are used to secure this API. You can create a <%= link_to 'New Account', new_user_registration_path %> or <%= link_to 'Sign In', new_user_session_path %> to see your API token.
    </p>
  </div>
</div>
<h3>Authentication</h3>
<div class="row">
  <div class="col-sm-12">
    <p>Pass your API token in as the Token header, like in this curl example:</p>
    <pre>$ curl -H "Token: secret-api-token" https://www.validators.app/api/v1/ping</pre>
    <p>Examples in this API guide are demonstrated using curl, but you can use an HTTP library of your choice. All responses are JSON.</p>
  </div>
</div>
<hr />
<h4>Ping</h4>
<div class="row">
  <div class="col-sm-12">
    <p>The ping endpoint will allow you to test your connection to the server.</p>
    <p>Request:</p>
    <pre>$ curl -H "Token: secret-api-token" https://www.validators.app/api/v1/ping</pre>
    <p>Response:</p>
    <pre>{"answer":"pong"}</pre>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
    <p>
      By default, the API will return the most recent 1,000 batches. You can include a `limit` parameter to request more or fewer batches. In the examples below, replace `:network` with 'testnet' or 'mainnet' as desired.
    </p>
    <p>Request:</p>
    <pre>$ curl -H "Token: secret-api-token" https://www.validators.app/api/v1/feed-zone/:network</pre>
    <p>or</p>
    <pre>$ curl -H "Token: secret-api-token" https://www.validators.app/api/v1/feed-zone/:network?limit=1</pre>
    <p>Response:</p>
    <p>An Array of batches.</p>
    <pre>
      [{
        "id":10,
        "network":"mainnet",
        "batch_uuid":"5e8cd9a4-0422-42c9-8955-f46f1ca2a7fd",
        "epoch":48,
        "batch_created_at":"2020-07-06T00:02:48.000Z",
        "payload_version":1,
        "payload":
          [{
            "network":"mainnet",
            "epoch":48,
            "batch_uuid":"5e8cd9a4-0422-42c9-8955-f46f1ca2a7fd",
            "batch_created_at":"2020-07-06T00:02:48.862Z",
            "validator_account":"GdnSyH3YtwcxFvQrVVJMm1JhTS4QVX7MFsX56uJLUfiZ",
            "validator_delinquent":false,
            "validator_vote_account":"sCtiJieP8B3SwYnXemiLpRFRR8KJLMtsMVN25fAFWjW",
            "validator_commission":100,
            "validator_last_vote":20902694,
            "validator_root_block":20902663,
            "validator_credits":19125450,
            "validator_active_stake":6558185316478044,
            "tower_highest_block":20902663,
            "tower_blocks_behind_leader":0,
            "validator_epoch_leader_slots":15984,
            "validator_epoch_blocks_produced":15892,
            "validator_epoch_skipped_slots":92,
            "validator_epoch_skipped_slot_percent":"0.0058",
            "validator_epoch_skipped_slots_after":183,
            "validator_epoch_skipped_slots_after_percent":"0.0114",
            "validator_batch_leader_slots":124,
            "validator_batch_blocks_produced":124,
            "validator_batch_skipped_slots":0,
            "validator_batch_skipped_slot_percent":0.0,
            "validator_batch_skipped_slots_after":0,
            "validator_batch_skipped_slots_after_percent":0.0,
            "software_version":"1.1.19 e651209f",
            "cluster_epoch_start_slot":20736000,
            "cluster_epoch_end_slot":20902666,
            "cluster_epoch_total_slots":166667,
            "cluster_epoch_total_blocks_produced":162863,
            "cluster_epoch_total_slots_skipped":3804,
            "cluster_epoch_skipped_slot_percent":0.022823954352091294,
            "ping_times_min_ms":null,
            "ping_times_avg_ms":null,
            "ping_times_max_ms":null
          }, ...],
        "created_at":"2020-07-05T23:05:01.861Z",
        "updated_at":"2020-07-05T23:05:02.485Z"
      }]
    </pre>
  </div>
</div>
<hr />
<h4>Ping Times</h4>
<div class="row">
  <div class="col-sm-12">
    <p>The ping-times endpoint will return recent ping times as reported by the participating validators. By default, the most recent 1,000 ping times will be returned. You can include a `limit` parameter to request more or fewer ping times. In the examples below, replace `:network` with 'testnet' or 'mainnet' as desired.</p>
    <p>Request:</p>
    <pre>$ curl -H "Token: secret-api-token" https://www.validators.app/api/v1/ping-times/:network</pre>
    <p>or</p>
    <pre>$ curl -H "Token: secret-api-token" https://www.validators.app/api/v1/ping-times/:network?limit=1</pre>
    <p>Response:</p>
    <p>An Array of response times.</p>
    <pre>
      [
        {
          "id":614598,
          "batch_uuid":"baf5c581-7ca3-471f-9a86-17a4f3c904a3",
          "network":"testnet",
          "from_account":"71bhKKL89U3dNHzuZVZ7KarqV6XtHEgjXjvJTsguD11B",
          "from_ip":"165.227.100.142",
          "to_account":"HrTZp96AjUbgxFyaJUcWPLe93441D4TuEN1hC14TNTuJ",
          "to_ip":"95.217.226.153",
          "min_ms":"101.706",
          "avg_ms":"101.778",
          "max_ms":"101.872",
          "mdev":"0.396",
          "observed_at":"2020-06-19T12:54:50.000Z",
          "created_at":"2020-06-19T12:54:50.559Z",
          "updated_at":"2020-06-19T12:54:50.559Z"
        },
        ...
      ]
    </pre>
  </div>
</div>
<hr />
<h4>Validators List</h4>
<div class="row">
  <div class="col-sm-12">
    <p>The validators endpoint will return a list of validators for the requested network. In the example below, replace `:network` with 'testnet' or 'mainnet' as desired.</p>
    <p>Request:</p>
    <pre>curl -H "Token: secret-api-token" https://www.validators.app/api/v1/validators/:network</pre>
    <p>Response:</p>
    <p>An Array of validators.</p>
    <pre>
      [
        {
          "network":"testnet",
          "account":"123vij84ecQEKUvQ7gYMKxKwKF6PbYSzCzzURYA4xULY",
          "name":null,
          "keybase_id":null,
          "www_url":null,
          "created_at":"2020-05-24T19:07:38.222Z",
          "updated_at":"2020-05-24T19:07:38.222Z",
          "vote_account":"123JiW1rwJ4JM5BxYqFkBi6wQJ52pt6qUH88JDqrtU9i",
          "software_version":"1.2.3 devbuild",
          "skipped_slots":664,
          "skipped_slot_percent":"0.5155",
          "ping_time":"205.703",
          "skipped_slots_after":655,
          "skipped_slots_after_percent":"0.5085",
          "url":"https://www.validators.app/api/v1/validators/testnet/123vij84ecQEKUvQ7gYMKxKwKF6PbYSzCzzURYA4xULY.json"
        },
        ...
      ]
    </pre>
  </div>
</div>
<hr />
<h4>Validator Detail</h4>
<div class="row">
  <div class="col-sm-12">
    <p>The validators endpoint will return a single validator for the requested network and account. In the example below, replace `:network` with 'testnet' or 'mainnet' as desired. Replace `:account` with the desired account ID.</p>
    <p>Request:</p>
    <pre>curl -H "Token: secret-api-token" https://www.validators.app/api/v1/validators/:network/:account</pre>
    <p>Response:</p>
    <pre>
      {
        "network":"testnet",
        "account":"71bhKKL89U3dNHzuZVZ7KarqV6XtHEgjXjvJTsguD11B",
        "name":null,
        "keybase_id":null,
        "www_url":null,
        "created_at":"2020-05-24T19:07:38.517Z",
        "updated_at":"2020-05-24T19:07:38.517Z",
        "vote_account":"8zipsAVJU28GyirnyUNwt2yjTNuNusq3ZiJoVn41EgJE",
        "software_version":"1.2.3 f1e68ac2",
        "skipped_slots":610,
        "skipped_slot_percent":"0.4904",
        "ping_time":"435.332",
        "skipped_slots_after":613,
        "skipped_slots_after_percent":"0.4928",
        "url":"https://www.validators.app/api/v1/validators/testnet/71bhKKL89U3dNHzuZVZ7KarqV6XtHEgjXjvJTsguD11B.json"
      }
    </pre>
  </div>
</div>
<div class="row">
  <div class="col-am-12">
    <p>NOTE: Version 1 of this API is still in development. Check back here to see updates!</p>
  </div>
</div>
