<h1>API Documentation</h1>
<div class='row'>
  <div class="col-sm-12">
    <p>
      Our API provides several different end-points to query the validators database. You must have a verified account in order to make requests against the JSON API. Your user account and an API token are used to secure this website. You can create a <%= link_to 'New Account', new_user_registration_path %> or <%= link_to 'Sign In', new_user_session_path %> to see your API token.
    </p>
  </div>
</div>
