<%= javascript_include_tag 'account_authority_histories/index' %>

<section class="page-header">
  <h1>Authorities Changes</h1>
</section>

<div id="authority-histories"
     vote_account="<%= @vote_account&.account %>"
     standalone="true">
</div>
