<h1>FAQ</h1>
<dl>
  <%# Questions that pertain to all visitors %>
  <dt>How is my Data Protected?</dt>
  <dd>All Consumer Personal Information is encrypted in transit via HTTPS. You can see our secure certificate by clicking the lock icon in your browser location bar. We also encrypt all Personal Information at rest when it is stored within our database. The encryption keys for data at rest are not stored on this Web App server.</dd>
</dl>
