<h1>Meet The Stake Boss!</h1>
<div class='row mb-4'>
  <div class="col-sm-12">
    <p>
      The Solana network gets stronger when you delegate your SOL to a diverse group of validators. Decentralization of
      our active stake keeps the network secure and censorship-resistant. As an stakeholder, it can be very time-intensive
      to find reliable validators and monitor your stake accounts.
    </p>
    <p>
      Think of the Stake Boss (&quot;The Boss&quot;) as your automated stake manager. You create a single stake account for your
      SOL investment, and The Boss will split your stake across several validators. Your Stake Boss will also monitor
      your validators and change delegations to use the best validators available in each epoch. By spreading your stake
      across several validators, you minimize the risk of downtime by any single validator.
    </p>
  </div>
</div>

<h3>How Does It Work?</h3>
<div class='row mb-4'>
  <div class="col-sm-12">
    <p>
      The Boss is a non-custodial stake manager. You always retain your Withdrawal Authority and have full control to deactivate and withdraw your stake. When you create your Stake Account, you will grant Solana's Stake Authority permission to The Stake Boss.
    </p>
    <p>
      We use the scores shown on this website to identify top-performing validators. We also filter-out validators with heavy stake concentrations or locations in over-populated data centers. We also verify that validator commissions are 10&percnt; or less.
    </p>
  </div>
</div>

<h3>Fees</h3>
<div class='row mb-4'>
  <div class="col-sm-12">
    <p>
      The Stake Boss is FREE! Even better, we pay the transaction fees for managing the Stake Accounts. In exchange, we reserve 1/N spots in your validator pool for our own &quot;Block Logic&quot; validator. The commissions we earn as a validator pay for your Stake Boss services. Block Logic is a high-quality validator with redundant data centers and a secure computing environment.
    </p>
  </div>
</div>

<h3>How Do I Start?</h3>
<div class='row mb-4'>
  <div class="col-sm-12">
    <p>
      The Stake Boss is currently in development on the Solana testnet and is coming to the mainnet very soon. Please contact us using the chat widget in the lower right corner of the site, and we'll add you to the wait list. You'll be among the first to know!
    </p>
  </div>
</div>

<h3>Can You Show Me An Example?</h3>
<div class='row'>
  <div class="col-sm-12">
    <p>
      Yes! The examples below are from the Solana testnet and you can inspect the results in the Solana Explorer (links provided).
    </p>
    <p>
      <strong>Step 1: Create a new keypair for your Stake Account:</strong>
<pre>
 $ solana-keygen new --no-passphrase -o stake-boss-example.json

 Generating a new keypair
 Wrote new keypair to stake-boss-example.json
 ============================================================================
 pubkey: BbeCzMU39ceqSgQoNs9c1j2zes7kNcygew8MEjEBvzuY
 ============================================================================
 Save this seed phrase to recover your new keypair:
 ya ya ding dong
 ============================================================================</pre>
    </p>
    <hr />
    <p>
      <strong>Step 2: Create the Stake Account</strong>
      <pre>$ solana create-stake-account stake-boss-example.json 400 --stake-authority BossttsdneANBePn2mJhooAewt3fo4aLg7enmpgMvdoH</pre>
      In this example, the Stake Account address is <code class="text-green">BbeCzMU39ceqSgQoNs9c1j2zes7kNcygew8MEjEBvzuY</code>
      and the Stake Authority is granted to the Stake Boss at <code class="text-green">BossttsdneANBePn2mJhooAewt3fo4aLg7enmpgMvdoH</code>.
      The Withdraw Authority is retained by the stakeholder's account.
    </p>
    <hr />
    <p>
      <strong>Step 3: Register your new Stake Account</strong> with the Stake Boss and indicate how many (N) ways you
      want to split the account. e.g. Split into two smaller accounts. You only need to create one keypair and a single
      Stake Account. The Stake Boss will split the stake into smaller accounts and delegate different validators for
      each account.
    </p>
    <hr />
    <p>
      <strong>Step 4: The Stake Boss Does Magic</strong>
    </p>
    <p>
      In the example above, the Stake Boss split the stake into two accounts and delegated the stake to two of our top
      validators. Here are the stake accounts:
<pre>
 % solana stake-account --url testnet 2TqbsD5tW1bNRCZpRSDq7CejLVJwMNwuouvPaMdSdrk2
 Balance: 200 SOL
 Rent Exempt Reserve: 0.00228288 SOL
 Delegated Stake: 199.99771712 SOL
 Active Stake: 0 SOL
 Activating Stake: 199.99771712 SOL
 Stake activates starting from epoch: 168
 Delegated Vote Account Address: 38QX3p44u4rrdAYvTh2Piq7LvfVps9mcLV9nnmUmK28x
 Stake Authority: BossttsdneANBePn2mJhooAewt3fo4aLg7enmpgMvdoH
 Withdraw Authority: 71bhKKL89U3dNHzuZVZ7KarqV6XtHEgjXjvJTsguD11B
</pre>
      See the account in the <%= link_to 'Solana Explorer', 'https://explorer.solana.com/address/2TqbsD5tW1bNRCZpRSDq7CejLVJwMNwuouvPaMdSdrk2?cluster=testnet', target: '_blank' %>
    </p>

    <p>
<pre>
 % solana stake-account --url testnet BbeCzMU39ceqSgQoNs9c1j2zes7kNcygew8MEjEBvzuY
 Balance: 200 SOL
 Rent Exempt Reserve: 0.00228288 SOL
 Delegated Stake: 199.99771712 SOL
 Active Stake: 0 SOL
 Activating Stake: 199.99771712 SOL
 Stake activates starting from epoch: 168
 Delegated Vote Account Address: HiFjzpR7e5Kv2tdU9jtE4FbH1X8Z9Syia3Uadadx18b5
 Stake Authority: BossttsdneANBePn2mJhooAewt3fo4aLg7enmpgMvdoH
 Withdraw Authority: 71bhKKL89U3dNHzuZVZ7KarqV6XtHEgjXjvJTsguD11B</pre>
      See the account in the <%= link_to 'Solana Explorer', 'https://explorer.solana.com/address/BbeCzMU39ceqSgQoNs9c1j2zes7kNcygew8MEjEBvzuY?cluster=testnet', target: '_blank' %>
    </p>
    <p>
      In this example, the stakeholder's address is <code class="text-green">71bhKKL89U3dNHzuZVZ7KarqV6XtHEgjXjvJTsguD11B</code>
      and they retain the Withdrawal Authority for control over the stake account. The Withdrawal Authority allows the
      stakeholder to deactivate the account, withdraw funds, or change the Stake Authority (i.e. fire the Stake Boss).
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>
      We would like to hear your thoughts on this new service. Please contact us using the chat widget in the lower
      right corner of the site to start a conversation.
    </p>
    <p>Thanks!</p>
    <p>P.S. The Stake Boss is a Stake Manager, not a &quot;Stake Pool&quot;. The Stake Boss does not issue SPL tokens for use in
      DeFi derivatives. It might be possible for The Stake Boss to manage the validators within a Stake Pool -- that
      work is still in development. More to come!
    </p>
  </div>
</div>
