<h1>Solana <%= params[:network].capitalize %> Tower</h1>
<div class="row">
  <div class="col-sm-12">
    <p>Validators are sorted by block height, then active stake.</p>
    <%= render 'tower_table', validators: @tower_leaders %>
    Data through <%= @tower_report.created_at %>.
  </div>
</div>
