<div class="container banner">
  <div class="heading-primary">Meet the <span>validators</span> who power Solana</div>
  <h6 class="heading-secondary mb-5">the world's fastest blockchain!</h6>
  <p class="lead">
    The tables below show each validator by name and include some recent statistics for each. If you own SOL tokens,
    and seek a staking partner, you can use this site to create a &quot;short-list&quot; of validators. <strong>Once you have
    a short-list, reach out to them and start a conversation!</strong> Ask questions about data center location,
    computer security, redundancy, etc. before making a final decision. Try to delegate SOL to several different
    validators to make the network stronger. Special thanks to
    <%= link_to 'Staking Facilities', 'https://stakingfacilities.com/', target: '_blank' %> for their support!
  </p>
</div>

<div class="container pb-5">
<button class="btn btn-primary btn-sm">Get Started</button>
<button class="btn btn-primary btn-md">Get Started</button>
<button class="btn btn-primary btn-lg">Get Started</button>

<button class="btn btn-secondary btn-sm">Get Started</button>
<button class="btn btn-secondary btn-md">Get Started</button>
<button class="btn btn-secondary btn-lg">Get Started</button>
</div>