<section class="banner">
  <div class="heading-primary">Meet the <span>validators</span> who power Solana</div>
  <h6 class="heading-secondary mb-5">the world's fastest blockchain!</h6>
  <p class="lead">
    The tables below show each validator by name and include some recent statistics for each. If you own SOL tokens, and
    seek a staking partner, you can use this site to create a &quot;short-list&quot; of validators. <b>Once you have a
    short-list, reach out to them and start a conversation!</b> Ask questions about data center location, computer
    security, redundancy, etc. before making a final decision. Try to delegate SOL to several different validators to
    make the network stronger. Special thanks to
    <%= link_to 'Staking Facilities', 'https://stakingfacilities.com/', target: '_blank' %> for their support!
  </p>
  <p class="lead">
    In the tables below, green indicates "great performance", blue means "good performance", grey means the validator is
    "OK", yellow suggests "caution|, and red indicates an "unfavorable" commission, active stake, or concentration of
    stake in a data center. See our <%= link_to 'FAQ', faq_url, target: '_blank' %> for a description of the scores
    shown below.
  </p>
</section>