<div class="container" id="development-footer">
  <hr />
  <h4>Cookies:</h4>
  <dl class="">
    <% cookies.each do |k,v| %>
      <dt><%= k %></dt>
      <dd><%= v %></dd>
    <% end %>
  </dl>
  <hr />
  <h4>Params:</h4>
  <dl class="">
    <% params.each do |k,v| %>
      <dt><%= k %></dt>
      <dd><%= v %></dd>
    <% end %>
  </dl>
</div>
