<div>
  <% flash.each do |type, msg| %>
    <% next if flash_message_is_cookie_info(msg) %>
    <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissible fade show" role="alert">
      <%= msg.html_safe %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>
